@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem

@{
    var icon = this.IconSelector?.Invoke(this.Item) ?? null;
    var title = this.TitleSelector?.Invoke(this.Item) ?? null;
    var cssClassFromSelector = this.CssClassSelector?.Invoke(this.Item) ?? null;
    var children = this.ChildrenSelector(this.Item);
    var hasChildren = children?.Any() ?? false;
    var isSelected = this.Item.Equals(this.TreeViewContainer.SelectedItem);
    this.IsExpanded ??= this.InitialExpandedSelector?.Invoke(this.Item) ?? false;
}

<div @ondrop="OnDrop" ondragover="event.preventDefault();">
    <div draggable="true" @ondragstart="OnDragStart" class="@CssClassHelper.Combine("hx-tree-view-item", isSelected ? "selected" : "", this.CssClass, cssClassFromSelector)" @onclick="@HandleItemClicked" @onclick:stopPropagation="true">
    @for (int i = 0; i < this.Level; i++)
    {
        <div class="hx-tree-view-item-spacer"></div>
    }
    <div class="hx-tree-view-item-expander-container">
        @if (hasChildren)
        {
            <div class="hx-tree-view-item-expander @(this.IsExpanded.Value ? "expanded" : "")"  @onclick="HandleItemExpanderClicked" @onclick:stopPropagation="true">
                    <div>
                        <HxIcon Icon="@BootstrapIcon.ChevronRight" />
                    </div>
            </div>
        }
    </div>
    @if (icon != null)
    {
        <div class="hx-tree-view-item-icon">
            <HxIcon Icon="@icon" />
        </div>
    }
    @if (title is not null)
    {
        <div title="@title" class="hx-tree-view-item-title text-nowrap text-truncate">@title</div>
    }
    @if (ContentTemplate is not null)
    {
        @ContentTemplate(this.Item)
    }
</div>
</div>

@if (this.IsExpanded.Value && hasChildren)
{
    foreach (var item in children)
    {
        <HxTreeViewItemInternal TItem="TItem"
                        Item="item"
                        TitleSelector="this.TitleSelector"
                        IconSelector="this.IconSelector"
                        CssClass="@this.CssClass"
                        CssClassSelector="this.CssClassSelector"
                        ChildrenSelector="this.ChildrenSelector"
                        Level="@(this.Level + 1)"
                        ContentTemplate="this.ContentTemplate"
                        OnItemSelected="this.OnItemSelected"
                        Siblings="children" />
    }
}