@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TItem

<CascadingValue Value="@columnsListRegistration" Name="@ColumnsRegistrationCascadingValueName" IsFixed="true">
	@*Aby se dostaly komponenty do kolekcí, musíme je dostat do renderování této komponenty. Chceme však, aby komponenty nic nevyrenderovaly. *@
	@if (MultiSelectionEnabled)
	{
		bool allDataItemsSelected = (paginationDataItemsToRender != null) && (SelectedDataItems != null) && (SelectedDataItems.Count > 0) && (paginationDataItemsToRender.Count == SelectedDataItems.Count);
		<MultiSelectGridColumn TItem="TItem"
							   AllDataItemsSelected="@allDataItemsSelected"
							   SelectedDataItems="@SelectedDataItems"
							   OnSelectDataItemClicked="HandleMultiSelectSelectDataItemClicked"
							   OnUnselectDataItemClicked="HandleMultiSelectUnselectDataItemClicked"
							   OnSelectAllClicked="HandleMultiSelectSelectAllClicked"
							   OnSelectNoneClicked="HandleMultiSelectSelectNoneClicked" />
	}
	@Columns
	@if (ContextMenu != null)
	{
		<ContextMenuGridColumn TItem="TItem" ContextMenu="ContextMenu" />
	}
</CascadingValue>

@{
	List<IHxGridColumn<TItem>> columnsToRender = GetColumnsToRender();

	bool shouldRenderLoadingData = totalCount == null;
	bool shouldRenderEmptyData = totalCount == 0;
	bool shouldRenderData;
	var defaults = GetDefaults();
	bool shouldRenderFooter = (totalCount > 0) || ((totalCount == 0) && (this.ShowFooterWhenEmptyData ?? defaults.ShowFooterWhenEmptyData));
	var rowHeightValue = (ItemRowHeight ?? defaults.ItemRowHeight);
	string rowHeight = rowHeightValue.ToString() + "px";

	switch (ContentNavigationModeEffective)
	{
		case GridContentNavigationMode.Pagination:
			shouldRenderData = (totalCount > 0);
			break;

		case GridContentNavigationMode.InfiniteScroll:
			shouldRenderData = (totalCount == null) || (totalCount > 0); // null: we need to render Virtualize even when we have no data yet - Virtalize ensures data load
			break;

		default: throw new InvalidOperationException(ContentNavigationModeEffective.ToString());
	}

	if ((paginationDataItemsToRender?.Count == 0) && (CurrentUserState.PageIndex > 0))
	{
		paginationDecreasePageIndexAfterRender = true;
	}
}

@if (columnsToRender.Any() && (shouldRenderLoadingData || shouldRenderEmptyData || shouldRenderData))
{
	<HxProgressIndicator InProgress="@(InProgress ?? dataProviderInProgress)">

		<div class="@(TableContainerCssClass ?? defaults.TableContainerCssClass)">
			<table class="@CssClassHelper.Combine("hx-grid table", (((SelectionEnabled || MultiSelectionEnabled) && shouldRenderData) ? "table-hover" : null), (TableCssClass ?? defaults.TableCssClass), (((SelectionEnabled || MultiSelectionEnabled) && (SelectedDataItem != null || SelectedDataItems!= null))? "table-item-selected" : null))">
				<thead>
					<tr class="@(HeaderRowCssClass ?? defaults.HeaderRowCssClass)">
						@{
							GridHeaderCellContext gridHeaderCellContext = CreateGridHeaderCellContext();

							@foreach (IHxGridColumn<TItem> column in columnsToRender)
							{
								var columnSorting = column.GetSorting();
								bool isCurrentSorting = CurrentUserState.Sorting?.StartsWith(columnSorting) ?? false;
								var headerCellTemplate = column.GetHeaderCellTemplate(gridHeaderCellContext);
								@if (columnSorting.Any())
								{
									<th @onclick="async () => await HandleSortingClick(columnSorting)" @onclick:stopPropagation role="button" class="@CssClassHelper.Combine(headerCellTemplate.CssClass, isCurrentSorting ? "sorted" : "sortable")">
										<UpdatedContentRenderer Component="column">
											@headerCellTemplate.Template
										</UpdatedContentRenderer>
										@if ((!isCurrentSorting && (columnSorting[0].SortDirection == Collections.SortDirection.Descending))
									   || (isCurrentSorting && (CurrentUserState.Sorting[0].SortDirection == Collections.SortDirection.Descending)))
										{
											<HxIcon Icon="@this.GetDefaults().SortDescendingIcon" />
										}
										else
										{
											<HxIcon Icon="@this.GetDefaults().SortAscendingIcon" />
										}
									</th>
								}
								else
								{
									<th class="@headerCellTemplate.CssClass">
										<UpdatedContentRenderer Component="column">
											@headerCellTemplate.Template
										</UpdatedContentRenderer>
									</th>
								}
							}
						}
					</tr>
				</thead>
				<tbody>
					@if (shouldRenderLoadingData)
					{
						<tr>
							<td colspan="@columnsToRender.Count">
								<div class="text-center text-secondary my-5">
									<div class="fs-3"><HxIcon Icon="@BootstrapIcon.InboxFill" /></div>
									<div>@HxGridLocalizer["LoadingData"]</div>
								</div>
							</td>
						</tr>
					}
					@if (shouldRenderEmptyData)
					{
						<tr>
							<td colspan="@columnsToRender.Count">

								<div class="text-center text-secondary my-5">
									<div class="fs-3"><HxIcon Icon="@BootstrapIcon.Inbox" /></div>
									<div>@HxGridLocalizer["NoData"]</div>

									@if (EmptyDataTemplate != null)
									{
										<div class="my-3">
											@EmptyDataTemplate
										</div>
									}
								</div>

							</td>
						</tr>
					}
					@if (shouldRenderData)
					{

						RenderFragment<TItem> rowTemplate = (TItem item) =>@<text>
					@if (SelectionEnabled || MultiSelectionEnabled)
					{
						<tr role="button"
							height="@rowHeight"
							class="@CssClassHelper.Combine(
											(ItemRowCssClass ?? defaults.ItemRowCssClass),
											ItemRowCssClassSelector?.Invoke(item),
											((SelectionEnabled && (item != null) && item.Equals(SelectedDataItem)) ? "table-active" : null))"
							@onclick="async () => await HandleSelectOrMultiSelectDataItemClick(item)"
							@onclick:stopPropagation>

							@foreach (IHxGridColumn<TItem> column in columnsToRender)
							{
								// same as below in the else section
								CellTemplate cellTemplate = column.GetItemCellTemplate(item);
								<td class="@cellTemplate.CssClass">
									<UpdatedContentRenderer Component="column">
										@cellTemplate.Template
									</UpdatedContentRenderer>
								</td>
							}
						</tr>
					}
					else
					{
						// !SelectionEnabled && !MultiSelectionEnabled - no table-active, no event handlers
						<tr height="@rowHeight"
							class="@CssClassHelper.Combine((ItemRowCssClass ?? defaults.ItemRowCssClass), ItemRowCssClassSelector?.Invoke(item))"
							@onclick:stopPropagation>
							@foreach (IHxGridColumn<TItem> column in columnsToRender)
							{
								// same as above this else section
								CellTemplate cellTemplate = column.GetItemCellTemplate(item);
								<td class="@cellTemplate.CssClass">
									<UpdatedContentRenderer Component="column">
										@cellTemplate.Template
									</UpdatedContentRenderer>
								</td>
							}
						</tr>
					}
						</text>;

				@if (ContentNavigationModeEffective == GridContentNavigationMode.InfiniteScroll)
				{
					<Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize TItem="TItem" @ref="infiniteScrollVirtualizeComponent" ItemsProvider="VirtualizeItemsProvider" ItemSize="@(ItemRowHeight ?? defaults.ItemRowHeight)" OverscanCount="@(OverscanCount ?? GetDefaults().OverscanCount)">
						<ItemContent>
							@rowTemplate(@context)
						</ItemContent>
						<Placeholder Context="placeholderContext">
							<tr height="@rowHeight">
								@foreach (IHxGridColumn<TItem> column in columnsToRender)
								{
									CellTemplate placeholderCellTemplate = column.GetItemPlaceholderCellTemplate(placeholderContext);
									<td class="@placeholderCellTemplate.CssClass">
										@placeholderCellTemplate.Template
									</td>
								}
							</tr>
						</Placeholder>
					</Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
				}

				@if (ContentNavigationModeEffective == GridContentNavigationMode.Pagination)
				{
					foreach (TItem item in paginationDataItemsToRender)
					{
						@rowTemplate(item)
					}
				}
			}
				</tbody>
				@{
					GridFooterCellContext gridFooterCellContext = CreateGridFooterCellContext();
					CellTemplate[] footerTemplates = columnsToRender.Select(column => column.GetFooterCellTemplate(gridFooterCellContext)).ToArray();
					if (footerTemplates.Any(cellTemplate => cellTemplate.Template != null) // there must be a tempate
						&& shouldRenderFooter)
					{
						<tfoot>
							<tr class="@(FooterRowCssClass ?? defaults.FooterRowCssClass)">
								@foreach (CellTemplate footerCellTemplate in footerTemplates)
								{
									<td class="@footerCellTemplate.CssClass">@footerCellTemplate.Template</td>
								}
							</tr>
						</tfoot>
					}
				}
			</table>
		</div>

		@if ((ContentNavigationModeEffective == GridContentNavigationMode.Pagination) && (PageSizeEffective > 0) && (totalCount != null))
		{
			int totalPages = (totalCount.Value + PageSizeEffective - 1) / PageSizeEffective;
			if (totalPages > 1)
			{
				<div class="@(PagerContainerCssClass ?? defaults.PagerContainerCssClass)">
					<HxPager TotalPages="@totalPages"
							 CurrentPageIndex="@CurrentUserState.PageIndex"
							 CurrentPageIndexChanged="@HandlePagerCurrentPageIndexChanged" />
				</div>
			}
		}

	</HxProgressIndicator>
}
