@typeparam TItemType

<CascadingValue Value="@columnsListRegistration" Name="@ColumnsRegistrationCascadingValueName">
	@*Aby se dostaly komponenty do kolekcí, musíme je dostat do renderování této komponenty. Chceme však, aby komponenty nic nevyrenderovaly. *@
	@Columns
</CascadingValue>

@{
	List<IHxGridColumn<TItemType>> columnsToRender = GetColumnsToRender();
	TItemType[] itemsToRender = ApplyPaging(ApplySorting(Data)).ToArray();
	// TODO: Není-li zobrazen selectedItem, odvybrat!
}

@if (columnsToRender.Any())
{
	<table class="table">
		<thead>
			<tr>
				@foreach (IHxGridColumn<TItemType> column in columnsToRender)
				{
					var columnSorting = column.GetSorting().ToArray();
					bool isCurrentSorting = CurrentSorting.StartsWith(columnSorting);
					<td>
						@column.GetHeaderTemplate()
						@if (isCurrentSorting)
						{
							<span>
								@if (CurrentSorting[0].SortDirection == Collections.SortDirection.Ascending)
								{
									<text>teď: ↑</text>
								}
								else
								{
									<text>teď: ↓</text>
								}
							</span>
						}

						@if (columnSorting.Any())
						{
							<a @onclick="async () => await SetSorting(columnSorting)">
								@if ((!isCurrentSorting && (columnSorting[0].SortDirection == Collections.SortDirection.Ascending))
									|| (isCurrentSorting && (CurrentSorting[0].SortDirection == Collections.SortDirection.Descending)))
								{
									<text>chci: ↑</text>
								}
								else
								{
									<text>chci: ↓</text>
								}
							</a>
						}
					</td>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (TItemType item in itemsToRender)
			{
							 
				<tr @onclick="async () => await SelectDataItem(item)" class="@(((item != null) && item.Equals(SelectedDataItem)) ? "selected" : "")">
					@foreach (IHxGridColumn<TItemType> column in columnsToRender)
					{
						<td>@column.GetItemTemplate(item)</td>
					}
				</tr>
			}
		</tbody>
		@if (ShowFooter)
		{
			RenderFragment[] footerTemplates = columnsToRender.Select(column => column.GetFooterTemplate()).ToArray();
			if (footerTemplates.Any(template => template != null))
			{
				<tfoot>
					<tr>
						@foreach (RenderFragment footerFragment in footerTemplates)
						{
							<td>@footerFragment</td>
						}
					</tr>
				</tfoot>
			}
		}

	</table>

	@if (PageSize > 0)
	{
		int totalPages = (Data.Count() + PageSize - 1) / PageSize;
		if (totalPages > 0)
		{
			<HxPager @bind-CurrentPageIndex="@CurrentPageIndex" TotalPages="@totalPages" ShowAllButton="@PagerShowAllButton" ShowAllButtonClicked="@PagerShowAllButtonClicked" />
		}
	}
}
