@typeparam TItemType

<CascadingValue Value="@columnsListRegistration" Name="@ColumnsRegistrationCascadingValueName">
	@*Aby se dostaly komponenty do kolekcí, musíme je dostat do renderování této komponenty. Chceme však, aby komponenty nic nevyrenderovaly. *@
	@Columns
</CascadingValue>

@{
	List<IHxGridColumn<TItemType>> columnsToRender = GetColumnsToRender();
	TItemType[] itemsToRender = ApplyPaging(ApplySorting(Data)).ToArray();
	// TODO: Není-li zobrazen selectedItem, odvybrat!
}

@if (columnsToRender.Any())
{
	<table class="table">
		@*<colgroup></colgroup>*@ @*TODO: Ať si řekne Dominik*@
		<thead>
			<tr>
				@foreach (IHxGridColumn<TItemType> column in columnsToRender)
				{
					var columnSorting = column.GetSorting().ToArray();
				<td>
					@column.GetHeaderTemplate()
					@if (CurrentSorting.StartsWith(columnSorting))
					{
						@*TODO: Chceme vizualizovat reverzní řazení?*@
						<span>aktuální řazení</span>
					}

					@if (columnSorting.Any())
					{
						@*TODO: Chceme vizualizovat reverzní řazení?*@
						<a @onclick="async () => await SetSorting(columnSorting)">seřadit</a>
					}
				</td>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (TItemType item in itemsToRender)
			{
				<tr @onclick="async () => await SelectDataItem(item)">
					@foreach (IHxGridColumn<TItemType> column in columnsToRender)
					{
						<td>@column.GetItemTemplate(item)</td>
					}
				</tr>
			}
		</tbody>
		@if (ShowFooter)
		{
			RenderFragment[] footerTemplates = columnsToRender.Select(column => column.GetFooterTemplate()).ToArray();
			if (footerTemplates.Any(template => template != null))
			{
				<tfoot>
					<tr>
						@foreach (RenderFragment footerFragment in footerTemplates)
						{
							<td>@footerFragment</td>
						}
					</tr>
				</tfoot>
			}
		}

	</table>

	@if (PageSize > 0)
	{
		int totalPages = (Data.Count() + PageSize - 1) / PageSize;
		if (totalPages > 0)
		{
			<HxPager @bind-CurrentPageIndex="@CurrentPageIndex" TotalPages="@totalPages" ShowAllButton="@PagerShowAllButton" ShowAllButtonClicked="@PagerShowAllButtonClicked" />
		}
	}
}
