@namespace Havit.Blazor.Components.Web.Bootstrap
@{
	int numericButtonsCountEffective = NumericButtonsCountEffective;
	int pageFromInclusive = ((CurrentPageIndex / numericButtonsCountEffective) * numericButtonsCountEffective);
	int pageToExclusive = Math.Min(TotalPages, pageFromInclusive + numericButtonsCountEffective);
	bool showFirstLast = true; // always
	bool showPreviousNext = true; // always

	string previousPageItemDisabledCssClass = CssClassHelper.Combine("page-item", (CurrentPageIndex == 0) ? "disabled" : null);
	string nextPageItemDisabledCssClass = CssClassHelper.Combine("page-item", (CurrentPageIndex == TotalPages - 1) ? "disabled" : null);
}

<nav aria-label="@HxPagerLocalizer["PaginationLandmark"]">
	<ul class="@CssClassHelper.Combine("hx-pager pagination", CssClassEffective)">
		@if (showFirstLast)
		{
			<li class="@previousPageItemDisabledCssClass">
				<button type="button"
						class="page-link"
						disabled="@(CurrentPageIndex == 0)"
						aria-label="@(FirstPageContentTemplate is null ? HxPagerLocalizer["FirstPage"] : null)"
						@onclick="async () => await SetCurrentPageIndexTo(0)"
						@onclick:stopPropagation>
					@if (FirstPageContentTemplate != null)
					{
						@FirstPageContentTemplate
					}
					else
					{
						<HxIcon Icon="@FirstPageIconEffective" />
					}
				</button>
			</li>
		}

		@if (showPreviousNext)
		{
			<li class="@previousPageItemDisabledCssClass">
				<button type="button"
						class="page-link"
						disabled="@(CurrentPageIndex == 0)"
						aria-label="@(PreviousPageContentTemplate is null ? HxPagerLocalizer["PreviousPage"] : null)"
						@onclick="async () => await SetCurrentPageIndexTo(CurrentPageIndex - 1)"
						@onclick:stopPropagation>
					@if (PreviousPageContentTemplate != null)
					{
						@PreviousPageContentTemplate
					}
					else
					{
						<HxIcon Icon="@PreviousPageIconEffective" />
					}
				</button>
			</li>
		}

		@if (pageFromInclusive > 0)
		{
			<li class="page-item d-none md:d-block"><button type="button" class="page-link" aria-label="@HxPagerLocalizer["PreviousPages"]" @onclick="async () => await SetCurrentPageIndexTo(pageFromInclusive - 1)" @onclick:stopPropagation>...</button></li>
		}

		@for (int i = pageFromInclusive; i < pageToExclusive; i++)
		{
			int j = i;
			if (i == CurrentPageIndex)
			{
				<li class="page-item active">
					<span class="page-link" aria-current="page">@((j + 1).ToString("N0"))</span>
				</li>
			}
			else
			{
				<li class="page-item d-none md:d-block"><button type="button" class="page-link" aria-label="@HxPagerLocalizer["GoToPage", (j + 1).ToString("N0")]" @onclick="async () => await SetCurrentPageIndexTo(j)" @onclick:stopPropagation>@((j + 1).ToString("N0"))</button></li>
			}
		}

		@if (pageToExclusive < (TotalPages - 1))
		{
			<li class="page-item d-none md:d-block"><button type="button" class="page-link" aria-label="@HxPagerLocalizer["NextPages"]" @onclick="async () => await SetCurrentPageIndexTo(pageToExclusive)" @onclick:stopPropagation>...</button></li>
		}

		@if (showPreviousNext)
		{
			<li class="@nextPageItemDisabledCssClass">
				<button type="button"
						class="page-link"
						disabled="@(CurrentPageIndex == TotalPages - 1)"
						aria-label="@(NextPageContentTemplate is null ? HxPagerLocalizer["NextPage"] : null)"
						@onclick="async () => await SetCurrentPageIndexTo(CurrentPageIndex + 1)"
						@onclick:stopPropagation>
					@if (NextPageContentTemplate != null)
					{
						@NextPageContentTemplate
					}
					else
					{
						<HxIcon Icon="@NextPageIconEffective" />
					}
				</button>
			</li>
		}

		@if (showFirstLast)
		{
			<li class="@nextPageItemDisabledCssClass">
				<button type="button"
						class="page-link"
						disabled="@(CurrentPageIndex == TotalPages - 1)"
						aria-label="@(LastPageContentTemplate is null ? HxPagerLocalizer["LastPage"] : null)"
						@onclick="async () => await SetCurrentPageIndexTo(TotalPages - 1)"
						@onclick:stopPropagation>
					@if (LastPageContentTemplate != null)
					{
						@LastPageContentTemplate
					}
					else
					{
						<HxIcon Icon="@LastPageIconEffective" />
					}
				</button>
			</li>
		}
	</ul>
</nav>
