@page "/components/HxSpinner"

<h1>@nameof(HxSpinner)</h1>
<p class="lead">
	Bootstrap Spinner (usually indicates operation in progress).
	<a href="https://getbootstrap.com/docs/5.0/components/spinners/">https://getbootstrap.com/docs/5.0/components/spinners/</a>
</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(HxSpinner.Type)</strong><br />
		Spinner type - Border (default) or Grow.
	</li>
	<li>
		<strong>@nameof(HxSpinner.Size)</strong><br />
		Spinner size - Regular (default) or Small. You can also use custom <code>CssClass</code> to change the dimensions as needed.
	</li>
	<li>
		<strong>@nameof(HxSpinner.Color)</strong><br />
		Spinner color.
	</li>
	<li>
		<strong>@nameof(HxSpinner.CssClass)</strong><br />
		Additional CSS class.
	</li>
</ul>

<Demo Type="typeof(HxSpinner_Demo)" />
