@inherits HxFilterBase
@typeparam TValue

<HxFilter Label="@Label">
	<LabelTemplate>@LabelTemplate</LabelTemplate>
	<FilterTemplate>
		<div class="row">
			<div class="col">
				<HxInputDate TValue="TValue" Value="@ValueFrom" ValueChanged="HandleValueFromChanged" ValueExpression="@ValueFromExpression" ParsingErrorMessage="@GetValueFromParsingError()">
					<InputGroupBeforeTemplate>@StringLocalizer["From"]</InputGroupBeforeTemplate>
				</HxInputDate>
			</div>
			<div class="col">
				<HxInputDate TValue="TValue" Value="@ValueTo" ValueChanged="HandleValueToChanged" ValueExpression="@ValueToExpression" ParsingErrorMessage="@GetValueToParsingError()">
					<InputGroupBeforeTemplate>@StringLocalizer["To"]</InputGroupBeforeTemplate>
				</HxInputDate>
			</div>
		</div>
	</FilterTemplate>
	<ChipTemplate></ChipTemplate>
</HxFilter>