<CascadingValue Value="@filtersRegistration" Name="@FilterRegistrationCascadingValueName">
	<CascadingValue Value="@chipGeneratorsRegistration" Name="@ChipGeneratorRegistrationCascadingValueName">
		@*Aby se dostaly komponenty do kolekcí, musíme je dostat do renderování této komponenty. Chceme však, aby komponenty nic nevyrenderovaly. *@		
		@Criteria
	</CascadingValue>
</CascadingValue>

@if (IsExpanded)
{
	<div class="d-flex flex-column flex-grow-1">
		@foreach (var filter in filters)
		{
			<span>@filter.GetLabelTemplate()</span>
			<span>@filter.GetFilterTemplate()</span>
		}
		<HxButton OnClick="ApplyFilterClick">Apply filter</HxButton> @*TODO:  Lokalizace*@
	</div>
}	
else
{	
	<Havit.Blazor.Components.Web.Bootstrap.Chips.HxChipList Chips="@chipGenerators.SelectMany(item => item.GetChips())" />
}