@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("progress-bar", CssClass, GetColorCssClass(), GetStripedCssClass())" role="progressbar" style="width: @(Value.ToString() + "%");" aria-valuenow="@Value" aria-valuemin="@MinValue" aria-valuemax="@MaxValue">@Label @ChildContent</div>
