@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("progress-bar", GetStripedCssClass(), ThemeColorExtensions.ToBackgroundColorCss(Color ?? ThemeColor.None), CssClass)" role="progressbar" style="width: @(GetNormalizedValue().ToString() + "%");" aria-valuenow="@Value" aria-valuemin="@MinValue" aria-valuemax="@MaxValue">@Label @ChildContent</div>
