@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="stepsRegistration" Name="@StepsRegistrationCascadingValueName" IsFixed="true">
	@ChildContent
</CascadingValue>

<div class="hx-wizard d-flex flex-column flex-grow-1">

	@if (ShowNavigator)
	{
		@* TODO: Wizzard steps navigator *@
		<ol class="hx-wizzard-navigator my-3">
			@foreach (HxWizardStep step in steps)
			{
				<li class="@(IsActiveStep(step) ? "active text-danger" : null)">@step.Name</li>
			}
		</ol>
	}

	@foreach (HxWizardStep step in steps)
	{
		@if (IsActiveStep(step))
		{
			<UpdatedContentRenderer Component="@step">
				<div>
					<div class="hx-wizard-step">
						@step.ChildContent
					</div>
				</div>
				<div class="d-grid gap-2 d-md-block">
					@if (CanGoBack())
					{
						<HxButton Text="Back" Color="ThemeColor.Secondary" OnClick="GoBackClick" />@* TODO: Localization *@
					}

					@if (CanGoNext())
					{
						<HxButton Text="Next" Color="ThemeColor.Primary" OnClick="GoNextClick" />@* TODO: Localization *@
					}
				</div>
			</UpdatedContentRenderer>
		}
	}
</div>
