@page "/HxCheckbox_Issue312_Test"
@using System.Globalization;
@using System.ComponentModel.DataAnnotations
@using Havit

<h1>Issue 312</h1>

<h4>Inside the edit form</h4>
<EditForm @bind-Model="@model">
    <HxCheckbox Inline="true" Text="Value 1" @bind-Value="@model.Value1" />
    <HxCheckbox Inline="true" Text="Value 2" @bind-Value="@model.Value2" />
</EditForm>

<h4>Without the edit form</h4>
<HxCheckbox Inline="true" Text="Value 1" @bind-Value="@model.Value1" />
<HxCheckbox Inline="true" Text="Value 2" @bind-Value="@model.Value2" />

@code
{
    private FormModel model = new FormModel();

    public class FormModel
    {
        public bool Value1 { get; set; }
        public bool Value2 { get; set; }
    }
}