@page "/HxFilterViewTest"

<h1>HxFilterView</h1>

<button @onclick="SetRandomFilter">Set random values</button>

<EditForm Model="@Filter">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<CascadingValue Value="true" Name="FilterDrawerOpen">
		<HxFilterView>
			<Criteria>
				<HxTextFilter @bind-Value="@Filter.Text" />
				<HxDateRangeFilter @bind-ValueFrom="@Filter.DateFrom" @bind-ValueTo="@Filter.DateTo" />
			</Criteria>
		</HxFilterView>
	</CascadingValue>
</EditForm>
<p>Text: @Filter.Text</p>
<p>DateFrom: @Filter.DateFrom</p>
<p>DateTo: @Filter.DateTo</p>
