@page "/HxFilterFormTest"
@using System.Globalization;

<h1>FilterContext</h1>

<HxFilterForm @ref="filterForm" Model="@model" ModelChanged="HandleModelChanged" TModel="FormModel" OnChipsUpdated="HandleChipsUpdated">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<h2>Filter</h2>

	<HxInputText Label="Text1" @bind-Value="@context.Text1" />
	<HxInputText Label="Text2" @bind-Value="@context.Text2">
		<ChipTemplate>
			Haha! There is also a chip with custom template! (value @context.Text2)
		</ChipTemplate> 
	</HxInputText>
	<HxInputNumber Label="Number 1" @bind-Value="@context.Number1" />

	<HxSubmit Skin="ButtonSkins.Apply" />

	<h2>Values</h2>

	<h3>Values in filter</h3>
	<ul>
		<li>Text1: @context.Text1</li>
		<li>Text2: @context.Text2</li>
		<li>Number1: @context.Number1</li>
	</ul>
</HxFilterForm>

<h3>Values in model</h3>
<ul>
	<li>Text1: @model.Text1</li>
	<li>Text2: @model.Text2</li>
	<li>Text3: @model.Number1</li>
</ul>

<h4>Chips</h4>

<HxChipList Chips="@chips" OnChipRemoveClick="HandleChipRemoveClick" />

<HxGrid @ref="myGrid" TItemType="string" DataProvider="@GridDataProvider">
	<Columns>
		<HxGridColumn TItemType="string" HeaderText="Value" ItemTextSelector="(item) => item" />
	</Columns>
</HxGrid>