@page "/HxGrid_InfiniteScroll_Test"
@using System.Globalization
@using Microsoft.Extensions.Logging

<h1>HxGrid with infinite scroll</h1>

<HxGrid TItem="CultureInfo" PlaceholdersRowCount="100" DataProvider="@ClientCultureInfosDataProvider" ContentNavigationMode="GridContentNavigationMode.InfiniteScroll" TableContainerCssClass="mt-5" ItemRowHeight="50" HeaderRowCssClass="myheader">
	<Columns>
		<HxGridColumn TItem="CultureInfo" HeaderText="Display Name" ItemTextSelector="@(item => item.DisplayName)" SortKeySelector="@(item => item.DisplayName)" IsDefaultSortColumn="true">
			<PlaceholderTemplate>
				Loading...
			</PlaceholderTemplate>
		</HxGridColumn>
		<HxGridColumn TItem="CultureInfo" HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortKeySelector="@(item => item.Name)" ItemCssClassSelector="@(item => item.Name.Contains('Z') ? "text-end" : null)" />

		<HxContextMenuGridColumn Context="item">
			<HxContextMenu>
				<HxContextMenuItem Text="Delete" Icon="BootstrapIcon.Trash" />
			</HxContextMenu>
		</HxContextMenuGridColumn>
	</Columns>
</HxGrid>

@code {
    [Inject] private ILogger<HxGrid_InfiniteScroll_Test> Logger { get; set; }

	protected override Task OnInitializedAsync()
	{
		HxProgressIndicator.Defaults.Delay = 0; // TEST

		return base.OnInitializedAsync();
	}

	private List<CultureInfo> GetCultureInfos()
	{
		return CultureInfo.GetCultures(CultureTypes.SpecificCultures).OrderBy(item => item.EnglishName /* only for skip! */).ToList();
	}

	private async Task<GridDataProviderResult<CultureInfo>> ClientCultureInfosDataProvider(GridDataProviderRequest<CultureInfo> request)
	{
		Logger.LogInformation($"Requesting culture infos[{request.StartIndex}, {request.Count}].");
		await Task.Delay(500); // simulate server call

		var cultures = GetCultureInfos();
		Logger.LogInformation($"Culture infos loaded (cancelled: {request.CancellationToken.IsCancellationRequested}).");

		return request.ApplyTo(cultures);
	}
}
