@page "/HxGridTest"
@using System.Globalization

<h1>HxGrid</h1>

<h2>Client paging, auto sorting</h2>
<HxGrid Data="@localCultureInfos" @bind-SelectedDataItem="@currentLocalCultureInfo" PageSize="@PageSize">
	<Columns>
		<HxGridColumn TItemType="CultureInfo" HeaderText="Display Name" ItemTextSelector="@(item => item.DisplayName)" SortKeySelector="@(item => item.DisplayName)" IsDefaultSortColumn="true" />
		<HxGridColumn TItemType="CultureInfo" HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortKeySelector="@(item => item.Name)" ItemCssClassSelector="@(item => item.Name.Contains('Z') ? "text-end" : null)" />
		<HxGridColumn TItemType="CultureInfo" HeaderText="Link">
			<ItemTemplate>
				<a href="https://www.havit.cz" @onclick:stopPropagation>link to a page</a> @* TODO HxLink, který bude mít default stopPropagation ??? *@
				<HxButton Text="Go" Color="ThemeColor.Secondary" Outlined="true" />
			</ItemTemplate>
		</HxGridColumn>
	</Columns>
	<ContextMenu Context="item">
		<HxContextMenu>
			<HxContextMenuItem Text="Nastavit jako výchozí" OnClick="async () => await AlarmClicked(item)" />
			<HxContextMenuItem ConfirmationQuestion="Jako fakt?" OnClick="async () => await AlarmClicked(item)">
				<HxIcon Icon="BootstrapIcon.Alarm" /> Bacha na to!
			</HxContextMenuItem>
		</HxContextMenu>
	</ContextMenu>
</HxGrid>
<p>Current CultureInfo: @currentLocalCultureInfo?.DisplayName</p>
<p>Clicked context menu item: @clickedItem?.DisplayName</p>

<h2>Server paging, server sorting</h2>
<HxGrid TItemType="CultureInfo" @ref="serverSideGrid" @bind-SelectedDataItem="@currentServerCultureInfo" DataProvider="@ServerCultureInfosDataProvider" PageSize="@PageSize" MultiSelectionEnabled="true">
	<Columns>
		<HxGridColumn TItemType="CultureInfo" HeaderText="Display Name" ItemTextSelector="@(item => item.DisplayName)" SortString="@nameof(CultureInfo.DisplayName)" IsDefaultSortColumn="true" />
		<HxGridColumn TItemType="CultureInfo" HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortString="@nameof(CultureInfo.Name)" />
	</Columns>
</HxGrid>
<p>Current CultureInfo: @currentServerCultureInfo?.DisplayName</p>

<HxButton OnClick="HandleRemoveItemsClick" Color="ThemeColor.Secondary">Remove some items</HxButton>
@code {
	private const int PageSize = 10;

	private HxGrid<CultureInfo> serverSideGrid;

	private int skip = 0;

	// LOCAL
	private List<CultureInfo> localCultureInfos = null;
	private CultureInfo currentLocalCultureInfo = null;

	// SERVER SIDE (simulation)
	private CultureInfo currentServerCultureInfo = null;
	private CultureInfo clickedItem = null;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Task.Delay(200); // simulate server call (data download)
		localCultureInfos = GetCultureInfos();
	}

	private List<CultureInfo> GetCultureInfos()
	{
		return CultureInfo.GetCultures(CultureTypes.SpecificCultures).OrderBy(item => item.EnglishName /* only for skip! */).Skip(skip).ToList();
	}

	private async ValueTask<GridDataProviderResult<CultureInfo>> ServerCultureInfosDataProvider(GridDataProviderRequest<CultureInfo> request)
	{
		await Task.Delay(300); // simulate server call

		var cultures = GetCultureInfos();
		cultures.Sort(request.Sorting.ToGenericPropertyComparer());

		return new GridDataProviderResult<CultureInfo>()
		{
			DataItemsTotalCount = cultures.Count(),
			Data = cultures
			.Skip(request.PageIndex * PageSize)
			.Take(PageSize)
			.ToList()
		};
	}

	private Task AlarmClicked(System.Globalization.CultureInfo item)
	{
		clickedItem = item;
		return Task.CompletedTask;
	}

	private async Task HandleRemoveItemsClick()
	{
		skip += 10;
		localCultureInfos = GetCultureInfos(); // duplicita kódu
		await serverSideGrid.RefreshDataAsync();
	}
}