@page "/HxInputDate_Issue621_Test"
@using Havit;

<h1>HxInputDate Display Month</h1>

<HxInputDate Label="No DisplayMonth" @bind-Value="value1"/>
<HxInputDate Label="Next Month Value" @bind-Value="nextMonth" />
<HxInputDate Label="Next Month Display Month" @bind-Value="value2" CalendarDisplayMonth="@nextMonth" />
<HxInputDateRange Label="DateRange No DisplayMonth" @bind-Value="Holidays" />
<HxInputDateRange Label="DateRange From DisplayMonth" @bind-Value="Unset" FromCalendarDisplayMonth="@nextMonthNextYear" />
<HxInputDateRange Label="DateRange To DisplayMonth" @bind-Value="Unset" ToCalendarDisplayMonth="@nextMonthNextYear" />
<HxInputDateRange Label="DateRange Both DisplayMonth" @bind-Value="Unset" FromCalendarDisplayMonth="@nextMonth" ToCalendarDisplayMonth="@nextMonthNextYear"/>

@code {
    private DateTime nextMonth;
    private DateTime nextMonthNextYear;
    private DateTime value1;
    private DateTime value2;

    private DateTimeRange Holidays;
    private DateTimeRange Unset;

    protected override async Task OnInitializedAsync()
    {
        nextMonth = DateTime.Now.AddDays(1-DateTime.Now.Day).AddMonths(1);
        nextMonthNextYear = DateTime.Now.AddDays(1 - DateTime.Now.Day).AddMonths(1).AddYears(1);
        Holidays = new DateTimeRange
        {
            StartDate = nextMonth,
        };
        await base.OnInitializedAsync();
	}
}