@page "/HxInputFile2Test"

<h1>HxInputFile[Core]</h1>

<HxInputFile @ref="hxInputFileComponent" Label="HxInputFile" UploadUrl="/file-upload-streamed/" Multiple="true" />

<HxButton Text="Upload" Color="ThemeColor.Primary" OnClick="HandleUploadClick" CssClass="my-2" />

<h4>FileInfo[] from GetFilesAsync()</h4>
<table class="table mt-3">
	<tr>
		<th>Name</th>
		<th>ContentType</th>
		<th>Size</th>
		<th>LastModified</th>
	</tr>
	<HxRepeater Data="fileInfos">
		<ItemTemplate>
			<tr>
				<td>@context.Name</td>
				<td>@context.ContentType</td>
				<td>@context.Size</td>
				<td>@context.LastModified</td>
			</tr>
		</ItemTemplate>
	</HxRepeater>
</table>
<br />

<h4>UploadCompletedEventArgs.FilesUploaded</h4>
<table class="table mt-3">
	<tr>
		<th>FileIndex</th>
		<th>Filename</th>
		<th>Progress</th>
		<th>ContentType</th>
		<th>Size</th>
		<th>LastModified</th>
		<th>ResponseStatus</th>
		<th>ResponseText</th>
	</tr>
	<HxRepeater Data="files">
		<ItemTemplate>
			<tr>
				<td>@context.OriginalFileName</td>
				<td>@context.ContentType</td>
				<td>@context.Size</td>
				<td>@context.LastModified</td>
				<td>@context.ResponseStatus</td>
				<td>@context.ResponseText</td>
			</tr>
		</ItemTemplate>
	</HxRepeater>
</table>
<br />
FileCount: @(fileInfos?.Count() ?? 0)
<br />
Completed: @uploadCompleted?.TotalSize bytes in @uploadCompleted?.FileCount files


@code
{
	private HxInputFile hxInputFileComponent;
	private IEnumerable<FileUploadedEventArgs> files;
	private UploadCompletedEventArgs uploadCompleted;
	private FileInfo[] fileInfos;

	private async Task HandleUploadClick()
	{
		string accessToken = null;

		// WASM:
		//var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
		//if (accessTokenResult.Status == AccessTokenResultStatus.Success)
		//{
		//	if (accessTokenResult.TryGetToken(out var token))
		//	{
		//		accessToken = token.Value;
		//	}
		//}

		fileInfos = await hxInputFileComponent.GetFilesAsync();
		StateHasChanged();

		uploadCompleted = await hxInputFileComponent.UploadAsync(accessToken);
		files = uploadCompleted.FilesUploaded;
	}
}