@page "/HxListLayoutTest"

<h1>HxListLayout</h1>

<HxListLayout Title="Nadpis" TFilterModel="FilterModelDto" FilterModel="filterModel" FilterModelChanged="HandleFilterModelChanged">
	<NamedViewsTemplate>
		<HxNamedViewList TFilterModel="FilterModelDto" FilterModel="filterModel" FilterModelChanged="HandleFilterModelChanged" NamedViews="namedViews" OnNamedViewSelected="NamedViewSelected" /> @* TODO *@
	</NamedViewsTemplate>
	<SearchTemplate>
		TODO?
	</SearchTemplate>
	<FilterTemplate Context="filterContext">
		<HxInputNumber Label="MinimumItemId" @bind-Value="filterContext.MinimumItemId" />
	</FilterTemplate>
	<CommandsTemplate>
		<HxButton Text="Přidat" Skin="ButtonSkins.New" Icon="BootstrapIcon.Plus" OnClick="NewItemClicked" />
	</CommandsTemplate>
	<DataTemplate>
		<HxGrid @ref="gridComponent" TItem="DataItemDto" PageSize="20" DataProvider="LoadDataItems" SelectedDataItem="currentItem" SelectedDataItemChanged="HandleSelectedDataItemChanged">
			<Columns>
				<HxGridColumn TItem="DataItemDto" HeaderText="Id" ItemTextSelector="@(item => item.ItemId.ToString())" SortString="@nameof(DataItemDto.ItemId)" IsDefaultSortColumn="true" />
				<HxGridColumn TItem="DataItemDto" HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortString="@nameof(DataItemDto.Name)" />
			</Columns>
			<ContextMenu Context="item">
				<HxContextMenu>
					<HxContextMenuItem Text="Smazat" OnClick="async () => await DeleteItemClicked(item)" ConfirmationQuestion="@($"Opravdu si přejete smazat {item.Name}?")" />
				</HxContextMenu>
			</ContextMenu>
		</HxGrid>
	</DataTemplate>
	<DetailTemplate>
		Edit: @currentItem?.ItemId
	</DetailTemplate>
</HxListLayout>
