@page "/HxListLayoutWithoutFilterTest"

<h1>HxListLayout - without Filter</h1>

<HxListLayout Title="Title" TFilterModel="HxListLayout.NoFilter">
	<CommandsTemplate>
		<HxButton Text="New invoice" Color="ThemeColor.Secondary" CssClass="ms-1" OnClick="@HandleNewItemClicked" />
	</CommandsTemplate>
	<DataTemplate>
		<HxGrid @ref="_gridComponent" TItem="DataItemDto" PageSize="20" DataProvider="LoadDataItems">
			<Columns>
				<HxGridColumn TItem="DataItemDto" HeaderText="Id" ItemTextSelector="@(item => item.ItemId.ToString())" SortString="@nameof(DataItemDto.ItemId)" IsDefaultSortColumn="true" />
				<HxGridColumn TItem="DataItemDto" HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortString="@nameof(DataItemDto.Name)" />
				<HxContextMenuGridColumn Context="item">
					<HxContextMenu>
						<HxContextMenuItem Text="Smazat" OnClick="async () => await HandleDeleteItemClicked(item)" ConfirmationQuestion="@($"Do you realy want to delete {item.Name}?")" />
					</HxContextMenu>
				</HxContextMenuGridColumn>
			</Columns>

		</HxGrid>
	</DataTemplate>
	<DetailTemplate>
		Edit: @_currentItem?.ItemId
	</DetailTemplate>
</HxListLayout>
