@page "/HxMessageBoxTest"

<h1>HxMessageBox</h1>

<p>
	<HxButton Text="Open MessageBox 1..." OnClick="@(async () => await box1.ShowAsync())" Color="ThemeColor.Primary" />
	<HxMessageBox @ref="box1" Title="First" Text="Number one!" OnClosed="HandleDialogClose" />
</p>

<p>
	<HxButton Text="OkCancel..." OnClick="@(async () => await box2.ShowAsync())" Color="ThemeColor.Primary"/>
	<HxMessageBox @ref="box2" Title="Second?" Text="Number two?" Buttons="MessageBoxButtons.OkCancel" OnClosed="HandleDialogClose" />
</p>

<p>
	<HxButton Text="AbortRetryIgnore..." OnClick="@(async () => await box3.ShowAsync())" Color="ThemeColor.Primary" />
	<HxMessageBox @ref="box3" Title="Test 3" Text="Test 3" Buttons="MessageBoxButtons.AbortRetryIgnore" OnClosed="HandleDialogClose" />
</p>

<p>
	<HxButton Text="CustomCancel..." OnClick="@(async () => await box4.ShowAsync())" Color="ThemeColor.Primary" />
	<HxMessageBox @ref="box4" Title="Test 4" Text="Test 4" Buttons="MessageBoxButtons.CustomCancel" CustomButtonText="Custom" OnClosed="HandleDialogClose" />
</p>

<p>
	<HxButton Text="YesNo..." OnClick="@(async () => await box5.ShowAsync())" Color="ThemeColor.Primary" />
	<HxMessageBox @ref="box5" Title="Test 5" Text="Test 5" Buttons="MessageBoxButtons.YesNo" OnClosed="HandleDialogClose" />
</p>

<p>
	<HxButton Text="Mix..." OnClick="@(async () => await box6.ShowAsync())" Color="ThemeColor.Primary" />
	<HxMessageBox @ref="box6"
				  Title="Test 6"
				  Text="Test 6"
				  Buttons="MessageBoxButtons.Yes | MessageBoxButtons.No | MessageBoxButtons.Ok"
				  PrimaryButton="MessageBoxButtons.No"
				  OnClosed="HandleDialogClose" />
</p>

<p>
	Last result: @result.ToString("g")
</p>

@code{
	HxMessageBox box1;
	HxMessageBox box2;
	HxMessageBox box3;
	HxMessageBox box4;
	HxMessageBox box5;
	HxMessageBox box6;
	MessageBoxButtons result;

	private Task HandleDialogClose(MessageBoxButtons button)
	{
		result = button;

		return Task.CompletedTask;
	}
}
