@page "/HxTabPanelTest"

<h1>HxTabPanel</h1>

<HxTabPanel RenderMode="RenderMode.Card" @bind-ActiveTabId="activeTabId">
	<HxTab Id="1" Title="First">
		<Content>This is the first tab.</Content>
	</HxTab>
	<HxTab Id="2">
		<TitleTemplate>@secondTabTitle</TitleTemplate>
		<Content>This is the second tab with title "@secondTabTitle".</Content>
	</HxTab>
	<HxTab Enabled="false" Visible="@thirdTabVisible">
		<TitleTemplate>Disabled</TitleTemplate>
		<Content>This is the disabled tab.</Content>
	</HxTab>
</HxTabPanel>

<p>activeTabId: @activeTabId</p>
<p>thirdTabVisible: @thirdTabVisible</p>

<HxButton Text="Activate 2nd tab" Enabled="@(activeTabId != "2")" OnClick="HandleActivateSecondTabButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Update 2nd tab title" OnClick="HandleUpdateSecondTabTitleButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Toggle 3rd tab visibility" OnClick="HandleToggleThirdTabVisibilityButtonClick" Color="ThemeColor.Primary" />

@code{
	private string activeTabId;
	private string secondTabTitle = "Second";
	private bool thirdTabVisible = true;

	private void HandleActivateSecondTabButtonClick()
	{
		activeTabId = "2";
	}

	private void HandleUpdateSecondTabTitleButtonClick()
	{
		i += 1;
		secondTabTitle = $"Second ({i})";
	}
	int i = 0;

	private void HandleToggleThirdTabVisibilityButtonClick()
	{
		thirdTabVisible = !thirdTabVisible;
	}
}