@page "/InputsWithoutEditContextTest"
@using System.Globalization;
 
<h1>Inputs without EditContext</h1>

<HxInputText Label="Text" @bind-Value="@text" />

<HxInputNumber Label="Integer (nullable)" @bind-Value="@nullableIntegerValue" ParsingErrorMessage="Zadejte správně Integer.">
	<InputGroupStartTemplate>€</InputGroupStartTemplate>
	<InputGroupEndTemplate>.00</InputGroupEndTemplate>
</HxInputNumber>

<HxInputNumber Label="Decimal" @bind-Value="@decimalValue" ParsingErrorMessage="Zadejte správně Decimal." />
<HxInputDate Label="Date" @bind-Value="@dateValue" ParsingErrorMessage="Zadejte správně Date." />

<HxInputCheckbox Label="Checkbox" @bind-Value="@boolValue" />
<HxInputCheckbox Label="Checkbox" CssClass="form-switch" @bind-Value="@boolValue" />

<HxSubmit Icon="@BootstrapIcon.Check" Color="ThemeColor.Primary">Submit</HxSubmit>

@code
{
	private string text;
	private int? nullableIntegerValue;
	private decimal decimalValue;
	private DateTime dateValue;
	private bool boolValue;
}
