@page "/components/HxBadge"

<h1>@nameof(HxBadge)</h1>
<p class="lead">
	Bootstrap Badge.
	<a href="https://getbootstrap.com/docs/5.0/components/badge/">https://getbootstrap.com/docs/5.0/components/badge/</a>
</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(HxBadge.Color)</strong><br />
		Badge color (background). Required.
	</li>
	<li>
		<strong>@nameof(HxBadge.Type)</strong><br />
		Badge type - Regular or rounded-pills.
	</li>
	<li>
		<strong>@nameof(HxBadge.TextColor)</strong><br />
		Text color.
	</li>
	<li>
		<strong>@nameof(HxAlert.CssClass)</strong><br />
		Any additional CSS class to apply.
	</li>
</ul>

<Demo Type="typeof(HxBadge_Demo)" />