@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItemType
@typeparam TValueType

<div id="@dropdownId" class="dropdown">
	<Havit.Blazor.Components.Web.Bootstrap.Internal.HxAutosuggestInput InputId="@InputId" EnabledEffective="@EnabledEffective" Value="@userInput" OnInputInput="HandleInputInput" OnInputFocus="HandleFocus" OnInputBlur="HandleInputBlur" CssClass="@InputCssClass" />
	@ValidationMessageTemplate
	<Havit.Blazor.Components.Web.Bootstrap.Internal.HxAutosuggestItems TItemType="TItemType" Items="@suggestions" TextSelector="TextSelectorEffective" OnItemClick="HandleItemClick" />
</div>
