@namespace Havit.Blazor.Components.Web.Bootstrap

<dialog @ref="_drawerElement"
     class="@CssClassHelper.Combine(GetDrawerResponsiveCssClass(), GetPlacementCssClass(), GetSizeCssClass(), SheetEffective ? "drawer-sheet" : null, _opened ? "show" : null, CssClassEffective)"
     tabindex="-1"
     id="@_drawerId"
     data-bs-backdrop="@GetBackdropSetupValue(BackdropEffective)">
    @if (_opened || (RenderMode == DrawerRenderMode.Always) || (ResponsiveBreakpointEffective != DrawerResponsiveBreakpoint.None))
    {
        <div class="@CssClassHelper.Combine("drawer-header", HeaderCssClassEffective)">
            @if (Title != null)
            {
                <h5 class="drawer-title">@Title</h5>
            }
            @HeaderTemplate

            @if (ShowCloseButtonEffective)
            {
                if (CloseButtonIconEffective is null)
                {
                    @* When a responsive breakpoint was set, the close button would stop working, that's why we set the data-bs-target even though the close button is within the drawer. *@
                    <button type="button" class="btn-close hx-drawer-close-button" data-bs-target="@($"#{_drawerId}")" data-bs-dismiss="drawer" aria-label="Close"></button>
                }
                else
                {
                    <div role="button" data-bs-dismiss="drawer" aria-label="Close" data-bs-target="@($"#{_drawerId}")"><HxIcon Icon="CloseButtonIconEffective" /></div>
                }
            }
        </div>
        @if (BodyTemplate != null)
        {
            <div class="@CssClassHelper.Combine("drawer-body", BodyCssClassEffective)">
                @BodyTemplate
            </div>
        }
        @if (FooterTemplate != null)
        {
            <div class="@CssClassHelper.Combine("drawer-footer", FooterCssClassEffective)">
                @FooterTemplate
            </div>
        }
    }
</dialog>
