@namespace Havit.Blazor.Components.Web.Bootstrap

@if (this.DisplayMode == LayoutDisplayMode.Plain)
{
	<div class="h4">@HeaderTemplate</div>
	@BodyTemplate
	@FooterTemplate
}
else if (this.DisplayMode == LayoutDisplayMode.Offcanvas)
{
	<HxOffcanvas @ref="offcanvasComponent" OnClosed="OnClosed">
		<HeaderTemplate>@HeaderTemplate</HeaderTemplate>
		<BodyTemplate>@BodyTemplate</BodyTemplate>
		<FooterTemplate>@FooterTemplate</FooterTemplate>
	</HxOffcanvas>
}
else if (this.DisplayMode == LayoutDisplayMode.Modal)
{
	<HxModal @ref="modalComponent" OnClosed="OnClosed">
		<HeaderTemplate>@HeaderTemplate</HeaderTemplate>
		<BodyTemplate>@BodyTemplate</BodyTemplate>
		<FooterTemplate>@FooterTemplate</FooterTemplate>
	</HxModal>
}
else
{
	throw new InvalidOperationException($"Unknown {nameof(DisplayMode)}: {this.DisplayMode:g}.");
}