@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TFilterModel

<div class="@CssClassHelper.Combine("hx-list-layout", CssClassEffective)">
    <HxCard Settings="CardSettingsEffective">
        <BodyTemplate>

            <div class="hx-list-layout-header">
                @if ((NamedViews != null) && NamedViews.Any())
                {
                    <div class="hx-list-layout-named-view">
                        <span role="button" id="namedViewsMenuLink" class="hx-list-layout-menu-link" data-bs-toggle="menu" aria-haspopup="true" aria-expanded="false">
                            <h4 class="card-title text-truncate">
                                @if (TitleFromNamedView && (SelectedNamedView is not null))
                                {
                                    @SelectedNamedView.Name
                                }
                                else if (TitleTemplate != null)
                                {
                                    <span class="d-flex align-items-center">
                                        @TitleTemplate
                                    </span>
                                }
                                else if (!String.IsNullOrEmpty(Title))
                                {
                                    @Title
                                }
                            </h4>
                            <HxIcon CssClass="ms-1" Icon="@BootstrapIcon.ChevronDown" />
                        </span>
                        <div class="hx-named-view menu" aria-labelledby="namedViewsMenuLink">
                            @foreach (var namedView in NamedViews)
                            {
                                <a @key="@namedView"
                                   class="@CssClassHelper.Combine("menu-item", namedView.Equals(SelectedNamedView) ? "active" : null)"
                                   role="button"
                                   @onclick="async () => await HandleNamedViewClickAsync(namedView)"
                                   @onclick:stopPropagation="true">
                                    @namedView.Name
                                </a>
                            }
                        </div>
                    </div>
                }
                else if (TitleTemplate != null)
                {
                    <h4 class="hx-list-layout-title card-title d-flex align-items-center">
                        @TitleTemplate
                    </h4>
                }
                else if (!String.IsNullOrEmpty(Title))
                {
                    <h4 class="hx-list-layout-title card-title text-truncate">@Title</h4>
                }

                @if (SearchTemplate != null)
                {
                    <div class="hx-list-layout-header-search">
                        @SearchTemplate
                    </div>
                }

				@if(CommandsTemplate != null || FilterTemplate != null)
				{
					<div class="hx-list-layout-header-buttons">
						@if (CommandsTemplate != null)
						{
							@CommandsTemplate
						}
						@if (FilterTemplate != null)
						{
							<HxButton Settings="FilterOpenButtonSettingsEffective"
									  OnClick="ShowFilterDrawerAsync"
									  Text="@(String.IsNullOrWhiteSpace(FilterButtonText) ? null : FilterButtonText)"
									  CssClass="@(String.IsNullOrWhiteSpace(FilterButtonText) ? CssClassHelper.Combine(FilterOpenButtonSettingsEffective.CssClass, "btn-icon") : null)"
									  AriaLabel="@(String.IsNullOrWhiteSpace(FilterButtonText) ? (string)Localizer["FilterButtonAriaLabel"] : null)" />
						}
					</div>
				}
            </div>

            @if (FilterModel != null)
            {
                <HxChipList Chips="_chips" OnChipRemoveClick="HandleChipRemoveClick" CssClass="flex-nowrap md:flex-wrap overflow-x-auto" />
            }
            @if (FilterTemplate != null)
            {
                <HxDrawer @ref="_filterDrawerComponent" RenderMode="DrawerRenderMode.Always" Title="@Localizer["FilterHeaderTitle"]" Settings="FilterDrawerSettingsEffective">
                    <BodyTemplate>
                        <HxFilterForm @ref="_filterForm"
                                      Id="@_filterFormId"
                                      TModel="TFilterModel"
                                      Model="FilterModel"
                                      ModelChanged="HandleFilterFormModelChanged"
                                      Context="filterContext"
                                      OnChipsUpdated="HandleChipUpdated">
                            @FilterTemplate(filterContext)
                        </HxFilterForm>
                    </BodyTemplate>
                    <FooterTemplate>
                        <HxSubmit Settings="FilterSubmitButtonSettingsEffective" FormId="@_filterFormId" Text="@Localizer["FilterApplyButtonText"]" />
                    </FooterTemplate>
                </HxDrawer>
            }
        </BodyTemplate>
        <ChildContent>
            <div class="card-body hx-list-layout-data">
                @DataTemplate
            </div>
        </ChildContent>
    </HxCard>
    @DetailTemplate
</div>