@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TFilterModel

<div class="hx-list-layout">
	<HxCard Skin="CardSkin.None" HeaderCssClass="bg-white" BodyCssClass="overflow-auto p-0">
		<HeaderTemplate>
			<div class="hx-list-layout-header hstack gap-3">
				<div class="fw-bold d-flex align-items-center me-auto">
					@if (NamedViewsTemplate != null)
					{
						<div class="dropdown">
							<span role="button" id="dropdownMenuLink" class="d-flex align-items-center" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								@if (TitleTemplate != null)
								{
									@TitleTemplate
								}
								else if (!String.IsNullOrEmpty(Title))
								{
									@Title
								}
								<HxIcon CssClass="ms-1 small" Icon="@BootstrapIcon.ChevronDown" />
							</span>
							@NamedViewsTemplate
						</div>
					}
					else if (TitleTemplate != null)
					{
						@TitleTemplate
					}
					else if (!String.IsNullOrEmpty(Title))
					{
						@Title
					}
				</div>
				@if (SearchTemplate != null)
				{
					@SearchTemplate
				}
				@if (FilterTemplate != null)
				{
					<HxButton OnClick="HandleFilterButtonClick" Skin="ButtonSkins.Filter" />
				}
				@if (CommandsTemplate != null)
				{
					@CommandsTemplate
				}
			</div>
			@if (FilterModel != null)
			{
				<HxChipList Chips="chips" OnChipRemoveClick="HandleChipRemoveClick" />
			}
			@if (FilterTemplate != null)
			{
				<HxOffcanvas @ref="filterOffcanvasComponent" RenderMode="OffcanvasRenderMode.Always">
					<HeaderTemplate>
						@Localizer["FilterHeaderTitle"]
					</HeaderTemplate>
					<BodyTemplate>
						<HxFilterForm @ref="filterForm"
								Id="@filterFormId"
								TModel="TFilterModel"
								Model="FilterModel"
								ModelChanged="HandleFilterFormModelChanged"
								Context="filterContext"
								OnChipsUpdated="HandleChipUpdated">
							@FilterTemplate(filterContext)
						</HxFilterForm>
					</BodyTemplate>
					<FooterTemplate>
						<HxSubmit FormId="@filterFormId" Text="@Localizer["FilterApplyButtonText"]" Color="ThemeColor.Primary" />
					</FooterTemplate>
				</HxOffcanvas>
			}
		</HeaderTemplate>
		<BodyTemplate>
			@DataTemplate
		</BodyTemplate>
	</HxCard>
	@DetailTemplate
</div>