@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TFilterModel

<div class="hx-list-layout">
	<HxCard Settings="this.CardSettingsEffective">
		<BodyTemplate>
			<div class="hx-list-layout-header hstack gap-2">
				<div class="hx-list-layout-header-dropdown">
					@if (NamedViewsTemplate != null)
					{
						<div class="hx-list-layout-named-view dropdown">
							<span role="button" id="dropdownMenuLink" class="hx-list-layout-dropdown-menu-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<h5 class="card-title">
									@if (TitleTemplate != null)
									{
										@TitleTemplate
									}
									else if (!String.IsNullOrEmpty(Title))
									{
										@Title
									}
									<HxIcon CssClass="ms-1" Icon="@BootstrapIcon.ChevronDown" />
								</h5>
							</span>
							@NamedViewsTemplate
						</div>
					}
					else if (TitleTemplate != null)
					{
						<h5 class="card-title">@TitleTemplate</h5>
					}
					else if (!String.IsNullOrEmpty(Title))
					{
						<h5 class="card-title">@Title</h5>
					}
				</div>
				@if (SearchTemplate != null)
				{
					@SearchTemplate
				}
				@if (FilterTemplate != null)
				{
					<HxButton Settings="this.FilterOpenButtonSettingsEffective" OnClick="HandleFilterButtonClick" />
				}
				@if (CommandsTemplate != null)
				{
					@CommandsTemplate
				}
			</div>
			@if (FilterModel != null)
			{
				<HxChipList Chips="chips" OnChipRemoveClick="HandleChipRemoveClick" />
			}
			@if (FilterTemplate != null)
			{
				<HxOffcanvas @ref="filterOffcanvasComponent" RenderMode="OffcanvasRenderMode.Always" Title="@Localizer["FilterHeaderTitle"]" Settings="this.FilterOffcanvasSettingsEffective">
					<BodyTemplate>
						<HxFilterForm @ref="filterForm"
								Id="@filterFormId"
								TModel="TFilterModel"
								Model="FilterModel"
								ModelChanged="HandleFilterFormModelChanged"
								Context="filterContext"
								OnChipsUpdated="HandleChipUpdated">
							@FilterTemplate(filterContext)
						</HxFilterForm>
					</BodyTemplate>
					<FooterTemplate>
						<HxSubmit Settings="this.FilterSubmitButtonSettingsEffective" FormId="@filterFormId" Text="@Localizer["FilterApplyButtonText"]" />
					</FooterTemplate>
				</HxOffcanvas>
			}
		</BodyTemplate>
		<ChildContent>
			@DataTemplate
		</ChildContent>
	</HxCard>
	@DetailTemplate
</div>