@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TFilterModelType

<h1>HxListLayout</h1>

<div class="hx-list-layout">
	<HxCard Skin="CardSkin.None" CssClass="my-4" BodyCssClass="px-0 pt-0">
		<HeaderTemplate>
			<div class="row">
				<div class="col py-1 fw-bold">
					@if (NamedViewsSection != null)
					{
						<div class="dropdown">
							<span role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								@if (TitleSection != null)
								{
									@TitleSection
								}
								else if (!String.IsNullOrEmpty(Title))
								{
									@Title
								}
								<HxIcon CssClass="ms-1" Icon="@BootstrapIcon.ChevronDown" />
							</span>
							@NamedViewsSection
						</div>
					}
					else if (TitleSection != null)
					{
						@TitleSection
					}
					else if (!String.IsNullOrEmpty(Title))
					{
						@Title
					}
				</div>
				@if (SearchSection != null)
				{
					<div class="col">
						@SearchSection
					</div>
				}
				<div class="col text-end">
					@if (FilterSection != null)
					{
						<HxButton OnClick="() => FilterDrawerOpen = true" Color="ThemeColor.Secondary">Filtrovat</HxButton>
					}
					@if (CommandsSection != null)
					{
						@CommandsSection
					}
				</div>
			</div>
			@if (FilterModel != null)
			{
				<div class="row">
					<div class="col">
						<HxChipList Chips="chips" OnChipRemoveClick="HandleChipRemoveClick" />
					</div>
				</div>
			}
			@if (FilterSection != null)
			{
				<HxDrawer @bind-IsOpen="@FilterDrawerOpen" RenderMode="DrawerRenderMode.Always">
					<HeaderTemplate>
						Filter
					</HeaderTemplate>
					<BodyTemplate>
						<HxFilterForm @ref="filterForm" Id="@filterFormId" TModel="TFilterModelType" Model="FilterModel" ModelChanged="HandleFilterFormModelChanged" Context="filterContext" OnChipsUpdated="HandleChipUpdated">
							@FilterSection(filterContext)
						</HxFilterForm>
					</BodyTemplate>
					<FooterTemplate>
						<HxSubmit FormId="@filterFormId" Text="Apply" Color="ThemeColor.Primary" />
					</FooterTemplate>
				</HxDrawer>
			}
		</HeaderTemplate>
		<BodyTemplate>
			@DataSection
		</BodyTemplate>
	</HxCard>
	@DetailSection
</div>