@using Havit.Blazor.Components.Web.ECharts
<HxSidebar @bind-Collapsed="_isDesktopCollapsed" CssClass="sticky-md-top doc-sidebar">
    <HeaderTemplate>
        <div class="d-flex flex-grow-1 d-lg-none">
            <HxSidebarBrand BrandName="HAVIT Blazor">
                <LogoTemplate>
                    <img src="/logo.png" width="32" height="30" class="mx-1" />
                </LogoTemplate>
            </HxSidebarBrand>
            <div class="@CssClassHelper.Combine("ms-auto d-flex gap-2", _isDesktopCollapsed ? "d-md-none" : null)">
                <Havit.Blazor.Documentation.Shared.Components.DocColorMode.DocColorModeSwitcher />
                <GitHubLink />
            </div>
        </div>
    </HeaderTemplate>
    <ItemsTemplate>
		<HxSidebarItem Text="Getting started" Href="getting-started" Icon="BootstrapIcon.RocketTakeoff" TooltipText="Getting started" />
		<HxSidebarItem Href="https://blocks.havit.blazor.eu" CssClass="w-100" Icon="BootstrapIcon.Boxes" TooltipText="Blocks" >
            <ContentTemplate>
				<div class="flex-grow-1">Blocks 🔥</div>
                    <HxBadge CssClass="ms-auto fw-normal rounded-pill" style="background-image: linear-gradient(to right, transparent, rgba(17, 71, 136))" Color="ThemeColor.Primary">Premium</HxBadge>
            </ContentTemplate>
        </HxSidebarItem>

        <HxSidebarItem Text="Forms" Icon="BootstrapIcon.InputCursorText">
            <HxSidebarItem Href="/components/Inputs" Text="Inputs" />
            <HxSidebarItem Href="@($"/components/{nameof(HxAutosuggest)}")" Text="@nameof(HxAutosuggest)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCalendar)}")" Text="@nameof(HxCalendar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputDate)}")" Text="@(nameof(HxInputDate))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputDateRange)}")" Text="@(nameof(HxInputDateRange))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputFile)}")" Text="@(nameof(HxInputFile) + "[Core]")" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputFileDropZone)}")" Text="@(nameof(HxInputFileDropZone))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputNumber)}")" Text="@(nameof(HxInputNumber))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputPercent<object>)}")" Text="@(nameof(HxInputPercent<object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputRange)}")" Text="@(nameof(HxInputRange))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputTags)}")" Text="@(nameof(HxInputTags))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputText)}")" Text="@(nameof(HxInputText))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputTextArea)}")" Text="@(nameof(HxInputTextArea))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCheckbox)}")" Text="@(nameof(HxCheckbox))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCheckboxList<object, object>)}")" Text="@(nameof(HxCheckboxList<object, object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSwitch)}")" Text="@(nameof(HxSwitch))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFormState)}")" Text="@nameof(HxFormState)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFormValue)}")" Text="@(nameof(HxFormValue))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxRadioButtonList<object, object>)}")" Text="@nameof(HxRadioButtonList<object, object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSelect)}")" Text="@nameof(HxSelect)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxMultiSelect<object, object>)}")" Text="@nameof(HxMultiSelect<object, object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSearchBox<object>)}")" Text="@nameof(HxSearchBox<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFilterForm<object>)}")" Text="@(nameof(HxFilterForm<object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxValidationMessage<object>)}")" Text="@(nameof(HxValidationMessage<object>))" />
        </HxSidebarItem>

        <HxSidebarItem Text="Buttons & Indicators" Icon="BootstrapIcon.PlayBtn">
            <HxSidebarItem Href="@($"/components/{nameof(HxButton)}")" Text="@(nameof(HxButton) + " & " + nameof(HxSubmit))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonGroup)}")" Text="@nameof(HxButtonGroup)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonToolbar)}#{nameof(HxButtonToolbar)}")" Text="@nameof(HxButtonToolbar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCloseButton)}")" Text="@nameof(HxCloseButton)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSubmit)}#{nameof(HxSubmit)}")" Text="@nameof(HxSubmit)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDropdownButtonGroup)}")" Text="@nameof(HxDropdownButtonGroup)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxBadge)}")" Text="@nameof(HxBadge)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxChipList)}")" Text="@(nameof(HxChipList))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSpinner)}")" Text="@nameof(HxSpinner)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxProgress)}")" Text="@nameof(HxProgress)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxProgressIndicator)}")" Text="@nameof(HxProgressIndicator)" />
        </HxSidebarItem>

        <HxSidebarItem Text="Data & Grid" Icon="BootstrapIcon.Table">
            <HxSidebarItem Href="@($"/components/{nameof(HxGrid<object>)}")" Text="@nameof(HxGrid<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxEChart)}")" Text="@nameof(HxEChart)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxContextMenu)}")" Text="@(nameof(HxContextMenu))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxPager)}")" Text="@(nameof(HxPager))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxRepeater<object>)}")" Text="@nameof(HxRepeater<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTreeView<object>)}")" Text="@(nameof(HxTreeView<object>))" />
        </HxSidebarItem>

        <HxSidebarItem Text="Layout & Typography" Icon="BootstrapIcon.LayoutWtf">
            <HxSidebarItem Href="@($"/components/{nameof(HxAccordion)}")" Text="@nameof(HxAccordion)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxAlert)}")" Text="@nameof(HxAlert)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCard)}")" Text="@nameof(HxCard)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCarousel)}")" Text="@nameof(HxCarousel)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCollapse)}")" Text="@(nameof(HxCollapse))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDropdown)}")" Text="@nameof(HxDropdown)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxIcon)}")" Text="@nameof(HxIcon)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxPlaceholder)}")" Text="@nameof(HxPlaceholder)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTooltip)}")" Text="@nameof(HxTooltip)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxPopover)}")" Text="@nameof(HxPopover)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTabPanel)}")" Text="@nameof(HxTabPanel)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxListGroup)}")" Text="@(nameof(HxListGroup))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxListLayout)}")" Text="@(nameof(HxListLayout))" />
        </HxSidebarItem>

        <HxSidebarItem Text="Navigation" Icon="BootstrapIcon.SignpostSplit">
            <HxSidebarItem Href="@($"/components/{nameof(HxNavbar)}")" Text="@nameof(HxNavbar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSidebar)}")" Text="@nameof(HxSidebar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxNav)}")" Text="@nameof(HxNav)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxNavLink)}#{nameof(HxNavLink)}")" Text="@nameof(HxNavLink)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxScrollspy)}")" Text="@nameof(HxScrollspy)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxBreadcrumb)}")" Text="@nameof(HxBreadcrumb)" />
			@{
#pragma warning disable 0618 // Obsolete
			}
            <HxSidebarItem Href="@($"/components/{nameof(HxAnchorFragmentNavigation)}")" Text="@nameof(HxAnchorFragmentNavigation)" />
			@{
#pragma warning restore 0618
			}
            <HxSidebarItem Href="@($"/components/{nameof(HxRedirectTo)}")" Text="@nameof(HxRedirectTo)" />
        </HxSidebarItem>

        <HxSidebarItem Text="Modals & Interactions" Icon="BootstrapIcon.ChatText">
            <HxSidebarItem Href="@($"/components/{nameof(HxMessageBox)}")" Text="@nameof(HxMessageBox)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxModal)}")" Text="@nameof(HxModal)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDialogBase<object>)}")" Text="@nameof(HxDialogBase<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxOffcanvas)}")" Text="@nameof(HxOffcanvas)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxMessenger)}")" Text="@nameof(HxMessenger)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxToast)}")" Text="@nameof(HxToast)" />
        </HxSidebarItem>

		<HxSidebarItem Text="Smart (AI)" Icon="BootstrapIcon.Stars">
			<HxSidebarItem Href="@($"/components/{nameof(HxSmartPasteButton)}")" Text="@nameof(HxSmartPasteButton)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSmartTextArea)}")" Text="@nameof(HxSmartTextArea)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSmartComboBox)}")" Text="@nameof(HxSmartComboBox)" />
		</HxSidebarItem>

        <HxSidebarItem Text="Special" Icon="BootstrapIcon.BagHeart">
            <HxSidebarItem Href="@($"/components/{nameof(HxDynamicElement)}")" Text="@nameof(HxDynamicElement)" />
            <HxSidebarItem Href="@($"/components/{nameof(GoogleTagManager.HxGoogleTagManager)}")" Text="@nameof(GoogleTagManager.HxGoogleTagManager)" />
        </HxSidebarItem>

        <HxSidebarItem Text="Concepts" Icon="BootstrapIcon.Lightbulb">
            <HxSidebarItem Href="/concepts/defaults-and-settings" Text="Defaults & Settings" />
            <HxSidebarItem Href="/concepts/Debouncer" Text="Debouncer" />
            <HxSidebarItem Href="/concepts/dark-color-mode-theme" Text="Dark color mode" />
        </HxSidebarItem>

        <HxSidebarItem Text="All Components" Icon="BootstrapIcon.SortAlphaDown" ExpandOnMatch="false" HighlightOnActiveChild="false">
			@{
#pragma warning disable 0618  // Obsolete
			}
            <HxSidebarItem Href="@($"/components/{nameof(HxAnchorFragmentNavigation)}")" Text="@nameof(HxAnchorFragmentNavigation)" />
			@{
#pragma warning restore 0618
			}
            <HxSidebarItem Href="@($"/components/{nameof(HxAccordion)}")" Text="@nameof(HxAccordion)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxAlert)}")" Text="@nameof(HxAlert)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxAutosuggest)}")" Text="@nameof(HxAutosuggest)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxBadge)}")" Text="@nameof(HxBadge)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxBreadcrumb)}")" Text="@nameof(HxBreadcrumb)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButton)}")" Text="@nameof(HxButton)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonGroup)}")" Text="@nameof(HxButtonGroup)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonToolbar)}#{nameof(HxButtonToolbar)}")" Text="@nameof(HxButtonToolbar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCalendar)}")" Text="@nameof(HxCalendar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCard)}")" Text="@nameof(HxCard)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCarousel)}")" Text="@nameof(HxCarousel)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCheckbox)}")" Text="@(nameof(HxCheckbox))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCheckboxList<object, object>)}")" Text="@(nameof(HxCheckboxList<object, object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxChipList)}")" Text="@(nameof(HxChipList))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCloseButton)}")" Text="@nameof(HxCloseButton)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxCollapse)}")" Text="@(nameof(HxCollapse))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxContextMenu)}")" Text="@(nameof(HxContextMenu))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDialogBase<object>)}")" Text="@nameof(HxDialogBase<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDropdown)}")" Text="@nameof(HxDropdown)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDropdownButtonGroup)}")" Text="@nameof(HxDropdownButtonGroup)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDynamicElement)}")" Text="@nameof(HxDynamicElement)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFilterForm<object>)}")" Text="@(nameof(HxFilterForm<object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFormState)}")" Text="@nameof(HxFormState)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxFormValue)}")" Text="@(nameof(HxFormValue))" />
            <HxSidebarItem Href="@($"/components/{nameof(GoogleTagManager.HxGoogleTagManager)}")" Text="@nameof(GoogleTagManager.HxGoogleTagManager)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxGrid<object>)}")" Text="@nameof(HxGrid<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxIcon)}")" Text="@nameof(HxIcon)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputDate)}")" Text="@nameof(HxInputDate)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputDateRange)}")" Text="@nameof(HxInputDateRange)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputFile)}")" Text="@(nameof(HxInputFile) + "[Core]")" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputFileDropZone)}")" Text="@(nameof(HxInputFileDropZone))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputNumber)}")" Text="@(nameof(HxInputNumber))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputPercent<object>)}")" Text="@(nameof(HxInputPercent<object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputRange)}")" Text="@(nameof(HxInputRange))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputTags)}")" Text="@(nameof(HxInputTags))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputText)}")" Text="@(nameof(HxInputText))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxInputTextArea)}")" Text="@(nameof(HxInputTextArea))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxListGroup)}")" Text="@(nameof(HxListGroup))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxListLayout)}")" Text="@(nameof(HxListLayout))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxMessageBox)}")" Text="@nameof(HxMessageBox)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxMessenger)}")" Text="@nameof(HxMessenger)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxModal)}")" Text="@nameof(HxModal)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxMultiSelect<object, object>)}")" Text="@nameof(HxMultiSelect<object, object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxNav)}")" Text="@nameof(HxNav)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxNavbar)}")" Text="@nameof(HxNavbar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxNavLink)}#{nameof(HxNavLink)}")" Text="@nameof(HxNavLink)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxOffcanvas)}")" Text="@nameof(HxOffcanvas)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxPager)}")" Text="@(nameof(HxPager))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxPlaceholder)}")" Text="@nameof(HxPlaceholder)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxPopover)}")" Text="@nameof(HxPopover)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxProgress)}")" Text="@nameof(HxProgress)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxProgressIndicator)}")" Text="@nameof(HxProgressIndicator)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxRadioButtonList<object, object>)}")" Text="@nameof(HxRadioButtonList<object, object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxRedirectTo)}")" Text="@nameof(HxRedirectTo)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxRepeater<object>)}")" Text="@nameof(HxRepeater<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxScrollspy)}")" Text="@nameof(HxScrollspy)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSearchBox<object>)}")" Text="@nameof(HxSearchBox<object>)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSelect)}")" Text="@nameof(HxSelect)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSidebar)}")" Text="@nameof(HxSidebar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSpinner)}")" Text="@nameof(HxSpinner)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSubmit)}#{nameof(HxSubmit)}")" Text="@nameof(HxSubmit)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSwitch)}")" Text="@(nameof(HxSwitch))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTabPanel)}")" Text="@nameof(HxTabPanel)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxToast)}")" Text="@nameof(HxToast)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTooltip)}")" Text="@nameof(HxTooltip)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTreeView<object>)}")" Text="@(nameof(HxTreeView<object>))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxValidationMessage<object>)}")" Text="@(nameof(HxValidationMessage<object>))" />
        </HxSidebarItem>
    </ItemsTemplate>
</HxSidebar>

@code
{
    private bool _isDesktopCollapsed;
}