@page "/components/Inputs"
@page "/components/FormInputs"

<h1>Form Inputs</h1>
<p class="lead">
	Bootstrap-based input fields with labels and validation messages.
	See also <a href="https://v5.getbootstrap.com/docs/5.0/forms/overview/">Bootstrap Forms</a>.
</p>

<DocAlert Type="DocAlertType.Info">
	Most of our input-components do not require <code>&lt;EditForm&gt;</code> and can be used as standalone inputs (if you don't need the validation).
</DocAlert>

<DocAlert Type="DocAlertType.Info">
	All components stop the <code>onClick</code> event propagation.
</DocAlert>


<h3>Basic inputs</h3>
<Demo Type="@typeof(FormInputs_Demo)" />

<h3>Input groups</h3>
<p>
	<code>@nameof(HxInputBaseWithInputGroups<object>.InputGroupStartText), @nameof(HxInputBaseWithInputGroups<object>.InputGroupEndText), @nameof(HxInputBaseWithInputGroups<object>.InputGroupStartTemplate), @nameof(HxInputBaseWithInputGroups<object>.InputGroupEndTemplate)</code>
	can be used for input groups before and after the input. See <a href="https://v5.getbootstrap.com/docs/5.1/forms/input-group/">Input groups in Bootstrap documentation</a>.
</p>
<Demo Type="@typeof(FormInputs_Demo_InputGroups)" />

<h3>Floating Labels</h3>
<Demo Type="@typeof(FormInputs_Demo_FloatingLabels)" />

<h2>API</h2>
<h3>Common component properties</h3>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.Value), @nameof(HxInputBase<object>.ValueChanged)</strong></td>
				<td>Value of the input.</td>
			</tr>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.Label), @nameof(HxInputBase<object>.LabelTemplate)</strong></td>
				<td>Label to be next to the input. Label is rendered before the input.</td>
			</tr>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.Hint), @nameof(HxInputBase<object>.HintTemplate)</strong></td>
				<td>Hint to be next to the input. Label is rendered after the input and validation message.</td>
			</tr>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.InputCssClass)</strong></td>
				<td>CSS class to be set to the input.</td>
			</tr>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.ShowValidationMessage)</strong></td>
				<td>Can be used to suppress rendering of a validation message.</td>
			</tr>
			<tr>
				<td><strong>@nameof(HxInputBase<object>.Enabled)</strong></td>
				<td><EnabledExplanation /></td>
			</tr>
		</tbody>
	</table>
</div>