<EditForm Model="@model">

    <div class="row">
        <div class="col-6">
            <HxInputText Label="First name" @bind-Value="@model.Text" />
        </div>
        <div class="col-6">
            <HxInputText Label="Last name" @bind-Value="@model.Text" />
        </div>
    </div>

    <div>
        <HxCheckbox Text="inline checkbox 1" @bind-Value="@model.BoolValue" Inline="true" />
        <HxCheckbox Text="inline checkbox 2" @bind-Value="@model.BoolValue" Inline="true" />
        <HxCheckbox Text="inline checkbox 3" @bind-Value="@model.BoolValue" Inline="true" />
    </div>

</EditForm>

@code
{
    protected DemoModel model = new DemoModel();

    public record DemoModel
    {
        public string Text { get; set; }
        public bool BoolValue { get; set; }
    }
}