@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("card", CssClassEffective)" @attributes="this.AdditionalAttributes">
    @if (HeaderTemplate is not null)
    {
        <div class="@CssClassHelper.Combine("card-header", HeaderCssClassEffective)">
            @HeaderTemplate
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(ImageSrc) && ((ImagePlacement == CardImagePlacement.Top) || (ImagePlacement == CardImagePlacement.Overlay)))
    {
        <img src="@ImageSrc"
             alt="@ImageAlt"
             class="@CssClassHelper.Combine(ImageCssClass, ImagePlacement == CardImagePlacement.Top ? "card-img-top" : "card-img")"
             width="@ImageWidth"
             height="@ImageHeight" />
    }
    @if (BodyTemplate is not null)
    {
        if (ImagePlacement != CardImagePlacement.Overlay)
        {
            <div class="@CssClassHelper.Combine("card-body", BodyCssClassEffective)">
                @BodyTemplate
            </div>
        }
        else
        {
            <div class="@CssClassHelper.Combine("card-img-overlay", BodyCssClassEffective)">
                @BodyTemplate
            </div>
        }
    }
    @ChildContent
    @if (!String.IsNullOrWhiteSpace(ImageSrc) && (ImagePlacement == CardImagePlacement.Bottom))
    {
        <img src="@ImageSrc"
             alt="@ImageAlt"
             class="card-img-bottom"
             width="@ImageWidth"
             height="@ImageHeight" />
    }
    @if (FooterTemplate is not null)
    {
        <div class="@CssClassHelper.Combine("card-footer", FooterCssClassEffective)">
            @FooterTemplate
        </div>
    }
</div>