@page "/components/HxButtonGroup"

<h1>@nameof(HxButtonGroup)</h1>
<p class="lead">
	Bootstrap Button group. <a href="https://getbootstrap.com/docs/5.0/components/button-group/">https://getbootstrap.com/docs/5.0/components/button-group/</a>.
</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(HxButtonGroup.Size)</strong><br />
		Size. Default is <code>ButtonGroupOrientation.Regular</code>.
	</li>
	<li>
		<strong>@nameof(HxButtonGroup.Orientation)</strong><br />
		Orientation. Default is <code>ButtonGroupOrientation.Horizontal</code>.
	</li>
	<li>
		<strong>@nameof(HxButtonGroup.AriaLabel)</strong><br />
		Groups should be given an explicit label, as most assistive technologies will otherwise not announce them, despite the presence of the correct role attribute.
	</li>
	<li>
		<strong>@nameof(HxButton.CssClass)</strong><br />
		CSS class to be set to the button.
	</li>
</ul>

<Demo Type="typeof(HxButtonGroup_Demo)" />
