@namespace Havit.Blazor.Components.Web.Bootstrap.Internal

<div class="hx-tag-input form-control d-flex position-relative flex-grow-1	">
	<div class="d-flex align-items-center me-1">
		@foreach (string tag in Value)
		{
			<HxTagInternal Text="@tag" OnRemoveClick="async() => await HandleRemoveClickAsync(tag)" CssClass="me-1" />
		}
	</div>
	@*<HxAutosuggestInternal TItem="string"
		TValue="string"
		DataProvider="NewItemSuggestionsDataProvider"
		/>*@

		<a id="tagDropdownLink" data-bs-toggle="dropdown" class="flex-grow-1" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
			<HxInputTagsAutosuggestInput @ref="autosuggestInput"
										 InputId="@InputId"
										 EnabledEffective="@EnabledEffective"
										 Value="@userInput"
										 OnInputInput="HandleInputInput"
										 OnInputFocus="HandleInputFocus"
										 OnInputBlur="HandleInputBlur"
										 Placeholder="@Placeholder"
										 CssClass="@InputCssClass"
										 Offset="@InputOffset" />
			@if (dataProviderInProgress)
			{
				<HxSpinner Type="SpinnerType.Border" Size="SpinnerSize.Small" />
			}
		</a>
	<div class="dropdown-menu w-100" aria-labelledby="tagDropdownLink">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</div>