@page "/components/hxicon"

<h1>@nameof(HxIcon)</h1>
<p class="lead">
	Displays an icon. Currently supports <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap icons</a>.
</p>

<p>(Internally used in <a href="/components/hxbutton">@nameof(HxButton)</a> and other components.)</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(Havit.Blazor.Components.Web.HxIcon.Icon)</strong><br />
		Icon to display.
	</li>
</ul>

<h3>Icon</h3>
<p>Icon is a class derived from <code>@nameof(IconBase)</code> as we want to allow use of icons from different icon sets.</p>
<p>Currently, the library brings just one implementation - <code>@nameof(BootstrapIcon)</code>.</p>

<h2>BootstrapIcon</h2>
<p>
	For available icons see <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons <HxIcon Icon="BootstrapIcon.BoxArrowUpRight" /></a>
	or <TypeLink Type="typeof(BootstrapIcon)" /> members.
</p>

<div class="alert alert-info">	
	Under the hood, the component displays the icon using an <a href="https://icons.getbootstrap.com/#usage" target="_blank">icon font</a>.
</div>

<Demo Type="typeof(HxIcon_Demo)" />
