@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@using Havit.Blazor.Components.Web.Bootstrap.Forms.Internal
@typeparam TValue

<div class="@CssClassHelper.Combine(
		        "hx-input-date-wrapper",
		        ((IInputWithSize)this).GetInputGroupSizeCssClass(),
		        InputSizeEffective.AsInputGroupCssClass(),
				InputGroupCssClass,
				HasInputGroups ? "input-group" : null,
				HasInputGroupEnd ? "input-group-end" : null,
				HasInputGroupStart ? "input-group-start" : null)">
	@if (InputGroupStartText is not null)
	{
		<span class="input-group-text">@InputGroupStartText</span>
	}

	@InputGroupStartTemplate
	<div class="@CssClassHelper.Combine(
					    "form-control",
					    "form-adorn",
					    "hx-input-date",
					    ((IInputWithSize)this).GetInputSizeCssClass())">
	<HxMenu AutoClose="MenuAutoClose.Outside" CssClass="hx-input-date-menu">
		<Toggle>
		<HxMenuToggleElement @ref="_hxMenuToggleElement"
									ElementName="input"
									CssClass="@InputCssClass"
									MenuReference="parent"
									type="text"
									id="@InputId"
									name="@GetNameAttributeValue()"
									Value="@CurrentValueAsString"
									ValueChanged="HandleCurrentValueAsStringChanged"
									placeholder="@Placeholder"
									disabled="@(!EnabledEffective)"
									onfocus="this.select();"
									inputmode="none"
									@attributes="AdditionalAttributes" />

		</Toggle>
		<Content>
			@if (EnabledEffective)
			{
				<div class="hx-input-date-calendar">
					<HxCalendar Value="@DateHelper.GetDateTimeFromValue(CurrentValue)" ValueChanged="HandleCalendarValueChangedAsync" MinDate="@MinDateEffective" MaxDate="@MaxDateEffective" DateCustomizationProvider="GetCalendarDateCustomization" KeyboardNavigation="false" DisplayMonth="@GetCalendarDisplayMonthEffective" TimeProvider="TimeProviderEffective" />
				</div>
				<div class="hx-input-date-menu-buttons">
					@if (ShowClearButtonEffective)
					{
						<HxButton Text="@StringLocalizerFactory.GetLocalizedValue("Clear", typeof(HxInputDate))" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="HandleClearClickAsync" tabindex="-1" Enabled="this.EnabledEffective" />
					}
					@if (RenderPredefinedDates)
					{
						foreach (var item in PredefinedDatesEffective)
						{
							<HxButton @key="@item" Text="@StringLocalizerFactory.GetLocalizedValue(item.Label, item.ResourceType)" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="() => HandleCustomDateClick(item.GetDateEffective(TimeProviderEffective))" tabindex="-1" Enabled="this.EnabledEffective" />
						}
					}
				</div>
			}
		</Content>
	</HxMenu>
		@if (HasCalendarIcon)
		{
			<div @ref="_iconWrapperElement" class="form-adorn-icon hx-input-date-icon">
				<HxIcon Icon="CalendarIconEffective" />
			</div>
		}
	</div>
	@InputGroupEndTemplate

	@if (InputGroupEndText is not null)
	{
		<span class="input-group-text">@InputGroupEndText</span>
	}
</div>
