@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TValue
@inherits Microsoft.AspNetCore.Components.Forms.InputBase<TValue>

@if (FieldIdentifier.Model != null)
{
    <div class="@CssClassHelper.Combine(
                                    "hx-input-date-wrapper input-group",
                                    ((IInputWithSize)this).GetInputGroupSizeCssClass(),
                                    InputSizeEffective.AsInputGroupCssClass(),
                                    (ShowPredefinedDatesEffective && (PredefinedDatesEffective?.Any() ?? false)) ? "hx-input-date-predefined-dates" : null,
                                    (this.CalendarIconEffective is not null) ? "hx-input-date-has-calendar-icon" : null)">
        <HxDropdown CssClass="@CssClassHelper.Combine(
					     "hx-input-date",
					     (LabelTypeEffective == LabelType.Floating) ? "form-floating" : null,
					     InputGroupCssClass)"
                AutoClose="DropdownAutoClose.Outside">

            @if (InputGroupStartText is not null)
            {
                <span class="input-group-text">@InputGroupStartText</span>
            }

            @InputGroupStartTemplate

            <HxDropdownToggleElement @ref="hxDropdownToggleElement"
                                 ElementName="input"
                                 CssClass="@CssClassHelper.Combine(InputCssClass, ((IInputWithSize)this).GetInputSizeCssClass())"
                                 type="text"
                                 id="@InputId"
                                 value="@CurrentValueAsString" @onchange="HandleValueChanged"
                                 placeholder="@Placeholder"
                                 disabled="@(!EnabledEffective)"
                                 @attributes="AdditionalAttributes" />

            @InputGroupEndTemplate

            @if (InputGroupEndText is not null)
            {
                <span class="@CssClassHelper.Combine("input-group-text", RenderPredefinedDates ? null : " rounded-end")">@InputGroupEndText</span>
            }

            @if (LabelTypeEffective == Havit.Blazor.Components.Web.Bootstrap.LabelType.Floating)
            {
                <HxFormValueComponentRenderer_Label FormValueComponent="@FormValueComponent" />
            }

            <HxDropdownContent CssClass="hx-input-date-dropdown-menu">
                @if (EnabledEffective)
                {
                    <div class="hx-input-date-calendar">
                        <HxCalendar Value="@GetDateTimeFromValue(Value)" ValueChanged="HandleCalendarValueChangedAsync" MinDate="@MinDateEffective" MaxDate="@MaxDateEffective" DateCustomizationProvider="GetCalendarDateCustomization" KeyboardNavigation="false" />
                    </div>
                    <div class="hx-input-date-dropdown-buttons">
                        @if (ShowClearButtonEffective)
                        {
                            <HxButton Text="@StringLocalizerFactory.GetLocalizedValue("Clear", typeof(HxInputDate))" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="HandleClearClickAsync" tabindex="-1" />
                        }
                        @if (RenderPredefinedDates)
                        {
                            foreach (var item in PredefinedDatesEffective)
                            {
                                <HxButton @key="@item" Text="@StringLocalizerFactory.GetLocalizedValue(item.Label, item.ResourceType)" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="() => HandleCustomDateClick(item.Date)" tabindex="-1" />
                            }
                        }
                    </div>
                }
            </HxDropdownContent>
        </HxDropdown>
        @if (RenderIcon)
        {
            <div @ref="iconWrapperElement" class="hx-input-date-icon">
                <HxIcon Icon="CalendarIconEffective" />
            </div>
        }
    </div>
}
