@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@inherits Microsoft.AspNetCore.Components.Forms.InputBase<DateTimeRange>

@if ((FieldIdentifier.Model != null) && (fromFieldIdentifier.Model != null) && (toFieldIdentifier.Model != null))
{
    bool fromValid = !EditContext.GetValidationMessages(FieldIdentifier).Any() && !EditContext.GetValidationMessages(fromFieldIdentifier).Any();
    bool toValid = !EditContext.GetValidationMessages(FieldIdentifier).Any() && !EditContext.GetValidationMessages(toFieldIdentifier).Any();

    <div class="@CssClassHelper.Combine("hx-input-date-range", (ShowPredefinedDateRangesEffective && (PredefinedDateRangesEffective?.Any() ?? false)) ? "hx-input-date-range-predefined-ranges" : null)">
        <div class="input-group flex-nowrap">
            <HxDropdown AutoClose="DropdownAutoClose.Outside">
                @*Input must not be rendered when bootstrap dropdown is opened. Therefore we add is-invalid class via IJSRuntime. *@
                <HxDropdownToggleElement @ref="fromDropdownToggleElement"
                                    ElementName="input"
                                    type="text"
                                    CssClass="@CssClassHelper.Combine(this.InputCssClass,
                                                                        ((IInputWithSize)this).GetInputSizeCssClass(),
                                                                        fromValid ? null : HxInputBase<object>.InvalidCssClass,
                                                                        "hx-border-radius-end-0")"
                                    value="@FormatDate(Value.StartDate)"
                                    placeholder="@StringLocalizerFactory.GetLocalizedValue("From", typeof(HxInputDateRange))"
                                    @onchange="HandleFromChanged"
                                    disabled="@(!EnabledEffective)"
                                    @attributes="this.AdditionalAttributes" />

                <HxDropdownContent CssClass="hx-input-date-range-dropdown-menu">
                    @if (EnabledEffective)
                    {
                        <div class="hx-input-date-range-calendar">
                            <HxCalendar Value="@Value.StartDate" ValueChanged="HandleFromCalendarValueChangedAsync" MinDate="@MinDateEffective" MaxDate="@MaxDateEffective" DateCustomizationProvider="GetCalendarDateCustomizationFrom" KeyboardNavigation="false" />
                        </div>
                        <div class="hx-input-date-range-buttons">
                            @if (ShowClearButtonEffective)
                            {
                                <HxButton Text="@StringLocalizerFactory.GetLocalizedValue("Clear", typeof(HxInputDateRange))" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="HandleFromClearClickAsync" tabindex="-1" />
                            }
                            @if (ShowPredefinedDateRangesEffective && (PredefinedDateRangesEffective != null) && PredefinedDateRangesEffective.Any())
                            {
                                @foreach (var item in PredefinedDateRangesEffective)
                                {
                                    <HxButton @key="@item" Text="@StringLocalizerFactory.GetLocalizedValue(item.Label, item.ResourceType)" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="() => HandleDateRangeClick(item.DateRange, fromDropdownToggleElement)" tabindex="-1" />
                                }
                            }
                        </div>
                    }
                </HxDropdownContent>
            </HxDropdown>

            <HxDropdown AutoClose="DropdownAutoClose.Outside">
                @*Input must not be rendered when bootstrap dropdown is opened. Therefore we add is-invalid class via IJSRuntime. *@
                <HxDropdownToggleElement @ref="toDropdownToggleElement"
                                    ElementName="input"
                                    type="text"
                                    CssClass="@CssClassHelper.Combine(this.InputCssClass,
                                                                        ((IInputWithSize)this).GetInputSizeCssClass(),
                                                                        toValid ? null : HxInputBase<object>.InvalidCssClass,
                                                                        "hx-border-radius-start-0")"
                                    value="@FormatDate(Value.EndDate)"
                                    placeholder="@StringLocalizerFactory.GetLocalizedValue("To", typeof(HxInputDateRange))"
                                    @onchange="HandleToChanged"
                                    disabled="@(!EnabledEffective)"
                                    @attributes="this.AdditionalAttributes" />

                <HxDropdownContent CssClass="hx-input-date-range-dropdown-menu">
                    @if (EnabledEffective)
                    {
                        <div class="hx-input-date-range-calendar">
                            <HxCalendar Value="@Value.EndDate" ValueChanged="HandleToCalendarValueChanged" MinDate="@MinDateEffective" MaxDate="@MaxDateEffective" DateCustomizationProvider="GetCalendarDateCustomizationTo" KeyboardNavigation="false" />
                        </div>
                        <div class="hx-input-date-range-buttons">
                            @if (ShowClearButtonEffective)
                            {
                                <HxButton Text="@StringLocalizerFactory.GetLocalizedValue("Clear", typeof(HxInputDateRange))" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="HandleToClearClickAsync" tabindex="-1" />
                            }
                            @if (ShowPredefinedDateRangesEffective && (PredefinedDateRangesEffective != null) && PredefinedDateRangesEffective.Any())
                            {
                                @foreach (var item in PredefinedDateRangesEffective)
                                {
                                    <HxButton @key="@item" Text="@StringLocalizerFactory.GetLocalizedValue(item.Label, item.ResourceType)" Color="ThemeColor.Link" Size="ButtonSize.Small" OnClick="() => HandleDateRangeClick(item.DateRange, toDropdownToggleElement)" tabindex="-1" />
                                }
                            }
                        </div>
                    }
                </HxDropdownContent>
            </HxDropdown>
        </div>

        <HxValidationMessage TValue="DateTimeRange" ForFieldNames="@validationFieldNames" Mode="@ValidationMessageModeEffective" />
    </div>
}