@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="hx-calendar">
	@if (renderData != null)
	{
		<div class="hx-calendar-navigation mb-3">
			<HxButton Icon="BootstrapIcon.ChevronLeft"
					  CssClass="hx-calendar-navigation-button"
					  Size="ButtonSize.Small"
					  Enabled="@renderData.PreviousMonthEnabled"
					  OnClickStopPropagation="true"
					  OnClick="HandlePreviousMonthClickAsync" />
			<div class="hx-calendar-month-year-select">
				<select class="form-select form-select-sm" aria-label="Month" value="@(DisplayMonth.Month - 1)" @onchange="HandleMonthChangeAsync" @onclick:stopPropagation>
					@foreach (var month in renderData.Months)
					{
						<option value="@month.Index" disabled="@(!month.Enabled)">@month.Name</option>
					}
				</select>
				<select class="form-select form-select-sm" aria-label="Year" value="@DisplayMonth.Year" @onchange="HandleYearChangeAsync" @onclick:stopPropagation>
					@foreach (int year in renderData.Years)
					{
						/* not "N" - we do not want thousands separator */
						<option value="@year">@year.ToString()</option>
					}
				</select>
			</div>
			<HxButton Icon="BootstrapIcon.ChevronRight"
					  CssClass="hx-calendar-navigation-button"
					  Size="ButtonSize.Small"
					  Enabled="@renderData.NextMonthEnabled"
					  OnClickStopPropagation="true"
					  OnClick="HandleNextMonthClickAsync" />
		</div>

		<table>
			<tr class="hx-calendar-day-names">
				@foreach (string dayOfWeek in renderData.DaysOfWeek)
				{
					<td>@dayOfWeek</td>
				}
			</tr>
			@foreach (WeekData week in renderData.Weeks)
			{
				<tr class="hx-calendar-week">
					@foreach (DayData day in week.Days)
					{

						@if (day.ClickEnabled)
						{
							<td role="button" @onclick="async () => await HandleDayClickAsync(day)" @onclick:stopPropagation>
								<div class="@day.CssClass">@day.DayInMonth</div>
							</td>
						}
						else
						{
							<td>
								<div class="@day.CssClass">@day.DayInMonth</div>
							</td>
						}

					}
				</tr>
			}
		</table>
	}
</div>