@namespace Havit.Blazor.Components.Web.Bootstrap
@* PERF!!! Heavily used in data-lists/grids/etc. => do not over-use subcomponents unless absolutely necessary => don't use HxDropdown components here *@
<div class="@CssClassHelper.Combine("hx-context-menu", CssClassEffective)">
	<div class="@CssClassHelper.Combine("dropdown", DropdownCssClassEffective)">
		<div role="button" class="hx-context-menu-btn" id="@_id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @onclick:stopPropagation>
			<HxIcon Icon="IconEffective" CssClass="@IconCssClassEffective" />
		</div>
		<ul class="@CssClassHelper.Combine("dropdown-menu", DropdownMenuAlignmentEffective.GetCssClass(), DropdownMenuCssClassEffective)" aria-labelledby="@_id">
			@ChildContent
		</ul>
	</div>
</div>