@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Infrastructure;

@{
	bool enabledEffective = CascadeEnabledComponent.EnabledEffective(this);
}

<li class="@CssClassHelper.Combine("hx-context-menu-item", this.CssClass)">
	<a class="@CssClassHelper.Combine("dropdown-item", enabledEffective ? "" : "disabled")" role="@(enabledEffective ? "button" : "")" href="@Href" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
		@if (this.Icon is not null)
		{
			<HxIcon Icon="this.Icon" CssClass="@CssClassHelper.Combine("hx-context-menu-item-icon", this.IconCssClass)" />
		}
		@this.Text
		@ChildContent
	</a>
</li>
