@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Infrastructure;

@{
	bool enabledEffective = CascadeEnabledComponent.EnabledEffective(this);
}

<li class="@CssClassHelper.Combine("hx-context-menu-item", CssClass)">
	<a class="@CssClassHelper.Combine("dropdown-item", enabledEffective ? "" : "disabled")" role="@(enabledEffective ? "button" : "")" href="@Href" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
		@if (Icon is not null)
		{
			<HxIcon Icon="Icon" CssClass="@CssClassHelper.Combine("hx-context-menu-item-icon", IconCssClass)" />
		}

		@Text
		@ChildContent
	</a>
</li>
