@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Infrastructure;

@{
	bool enabledEffective = CascadeEnabledComponent.EnabledEffective(this);
}

<a class="@CssClassHelper.Combine("menu-item", "hx-context-menu-item", enabledEffective ? "" : "disabled", CssClass)" role="@(enabledEffective ? "button" : "")" href="@Href" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
	@if (Icon is not null)
	{
		<HxIcon Icon="Icon" CssClass="@CssClassHelper.Combine("hx-context-menu-item-icon", IconCssClass)" />
	}

	@Text
	@ChildContent
</a>
