@namespace Havit.Blazor.Components.Web.Bootstrap
<details class="@CssClassHelper.Combine("hx-accordion-item accordion-item", CssClass)"
         id="@_idEffective"
         name="@(ParentAccordion.StayOpen ? null : ParentAccordion.Id)"
         open="@_lastKnownStateIsExpanded">
	<summary class="@CssClassHelper.Combine("accordion-header", HeaderCssClass)"
	         id="header-@_idEffective"
	         @onclick="HandleHeaderClick"
	         @onclick:preventDefault>
		@HeaderTemplate
		<svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m2 5 6 6 6-6"/></svg>
	</summary>
	<div class="@CssClassHelper.Combine("accordion-body", BodyCssClass)">
		@BodyTemplate
	</div>
</details>
