@using System.Globalization

<EditForm Model="@model">
    <HxCheckboxList TItem="CultureInfo"
                    TValue="string"
                    Label="Cultures"
                    ItemTextSelector="@(item => item.EnglishName)"
                    ItemValueSelector="@(item => item.EnglishName)"
                    Data="@data"
                    @bind-Value="@model.CultureInfos" />
</EditForm>

<p>Selected values: @String.Join(", ", model.CultureInfos ?? Enumerable.Empty<string>())</p>

@code
{
    private Model model = new Model();
    private List<CultureInfo> data = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
        .OrderBy(item => item.EnglishName)
        .Take(10)
        .OrderByDescending(i => i.ToString()) // sorting test
        .ToList();

    private class Model
    {
        public List<string> CultureInfos { get; set; }
    }
}
