@attribute [Route("/components/" + nameof(HxMessenger))]

<ComponentApiDoc Type="typeof(HxMessenger)">

	<p>Component is using <code>@nameof(IHxMessengerService)</code> injected service.</p>
	<p>Informational messages are automatically hidden after 5 seconds, warning and error messages remain visible till manually closed.</p>

	<h3>Basic usage</h3>
	<Demo Type="typeof(HxMessenger_Demo)" />

	<p>You should place the <code>@nameof(HxMessenger)</code> component itself to the layout component to make it work!</p>
	<CodeCard Title="MainLayout.razor">
@("@inherits LayoutComponentBase")
@("<HxMessenger Position=\"HxToastContainerPosition.TopEnd\" />")
@("@Body")
	</CodeCard>

	<p>Call <code>services.AddHxMessenger()</code> in <code>Startup.cs</code> to setup related services.</p>
	<CodeCard Title="Startup.cs" Language="csharp">
@("public void ConfigureServices(IServiceCollection services)")
@("{")
@("\t// ...")
@("\tservices.AddHxMessenger();")
@("\t// ...")
@("}")
	</CodeCard>

	<h3>Clearing messages</h3>
	<p>Use <code>messenger.Clear()</code> method (<code>IHxMessengerService</code>) if you want all messages to disappear immediately.</p>
</ComponentApiDoc>