@page "/"

<h1 class="fw-bold lh-1">HAVIT Blazor Library</h1>
<p class="lead">Bootstrap 5 components for ASP.NET Blazor.</p>

<p>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://camo.githubusercontent.com/880e5d14b85504bf95284bb1700333094142d7c80dfd770a160761b409c578f3/68747470733a2f2f696d672e736869656c64732e696f2f6e756765742f762f48617669742e426c617a6f722e436f6d706f6e656e74732e5765622e426f6f747374726170" alt="Nuget" data-canonical-src="https://img.shields.io/nuget/v/Havit.Blazor.Components.Web.Bootstrap" style="max-width: 100%;"></a>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://camo.githubusercontent.com/04d49bdd34ceaeee73845874b54dd51299976bcb9c861e03875fbd85d94c42e6/68747470733a2f2f696d672e736869656c64732e696f2f6e756765742f64742f48617669742e426c617a6f722e436f6d706f6e656e74732e5765622e426f6f747374726170" alt="Nuget" data-canonical-src="https://img.shields.io/nuget/dt/Havit.Blazor.Components.Web.Bootstrap" style="max-width: 100%;"></a>
	<a href="https://dev.azure.com/havit/DEV/_build/latest?definitionId=318&amp;branchName=master" rel="nofollow"><img src="https://camo.githubusercontent.com/d2e016554c2e2efd483ea92e74477557ae0d66c665a2efd7f189b067590302d2/68747470733a2f2f6465762e617a7572652e636f6d2f68617669742f4445562f5f617069732f6275696c642f7374617475732f3030322e4846572d4861766974426c617a6f723f6272616e63684e616d653d6d6173746572" alt="Build Status" data-canonical-src="https://dev.azure.com/havit/DEV/_apis/build/status/002.HFW-HavitBlazor?branchName=master" style="max-width: 100%;"></a>
	<a href="https://github.com/havit/Havit.Blazor/blob/master/LICENSE"><img src="https://camo.githubusercontent.com/329ddb7cccf4c6f5c55caae90ddf308fef03a6d9dbcbd935e96ab38a1d815018/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f6c6963656e73652f68617669742f48617669742e426c617a6f72" alt="GitHub" data-canonical-src="https://img.shields.io/github/license/havit/Havit.Blazor" style="max-width: 100%;"></a>
</p>

<h1>Getting started</h1>

<h2>Prerequisites</h2>
<p>Havit.Blazor components have the following requirements:</p>
<ul>
	<li>.NET 5.0 or newer</li>
	<li>Blazor WebAssembly or Blazor Server hosting model (other options not tested yet)</li>
</ul>

<h2>Installation</h2>

<HxAlert Color="ThemeColor.Info">
	<HxIcon Icon="BootstrapIcon.InfoCircle" CssClass="fs-5 me-2" />
	We also provide a pre-configured ready to run <a href="https://github.com/havit/NewProjectTemplate-Blazor">new enterprise project template</a> which includes everything you need.
</HxAlert>

<h3>1. Install the package</h3>
<p>Find the <a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/">Havit.Blazor.Components.Web.Bootstrap</a> package through NuGet Package Manager or install it with following command:</p>
<CodeCard Language="plaintext">
@("dotnet add package Havit.Blazor.Components.Web.Bootstrap")
</CodeCard>

<h3>2. Add CSS &amp; JavaScript references</h3>
<h4>CSS</h4>
<p>Add the following to your HTML head section, it's either <code>index.html</code> or <code>_Host.cshtml</code> depending on whether you're running WebAssembly or Server:</p>
<CodeCard Language="html">
@("<!-- Standard Bootstrap CSS from CDN -->")
@("<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU\" crossorigin=\"anonymous\" >")
@("")
@("<!-- Default values for additional CSS Variables (+ import Bootstrap Icons) -->")
@("<link href=\"_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css\" rel=\"stylesheet\" />")
@("")
@("<!-- Blazor CSS Isolation -->")
@("<link href=\"Your.Blazor.Project.Assembly.Name.styles.css\" rel=\"stylesheet\" />")
</CodeCard>

<p>If you want to use our custom Bootstrap theme (used in this documentation and demos), replace the first <code>link</code> with:</p>
<CodeCard Language="html">
@("<!-- Custom themed Bootstrap CSS build -->")
@("<link href=\"_content/Havit.Bt.Blazor/css/bootstrap.css\" rel=\"stylesheet\" />")
</CodeCard>
<p>You can reference your own or any other Bootstrap build/theme in a same way.</p>

<HxAlert Color="ThemeColor.Warning">
	<HxIcon Icon="BootstrapIcon.ExclamationTriangle" CssClass="fs-5 me-2" />
	If you're using a standard Blazor template make sure to remove unnecessary code from <code>site.css</code> and remove the <code>bootstrap.min.css</code> completely from either <code>index.html</code> or <code>_Host.cshtml</code>.
</HxAlert>

<h4>Bootstrap JavaScript Bundle with Popper</h4>
<p>At the end of HTML <code>&lt;body&gt;</code> section of either <code>index.html</code> or <code>_Host.cshtml</code> add this:</p>
<CodeCard Language="html">
@("<!-- Bootstrap JavaScript Bundle with Popper -->")
@("<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9Ah30zEOg7Hlq2THRZ\" crossorigin=\"anonymous\"></script>")
</CodeCard>

<h3>3. Import namespaces</h3>
<p>Add following to your <code>_Imports.razor</code> file:</p>
<CodeCard>
@("@using Havit.Blazor.Components.Web")
@("@using Havit.Blazor.Components.Web.Bootstrap")
</CodeCard>

<h3>4. Register services</h3>
<p>For <strong>Blazor WebAssembly</strong> add the following to your <code>Program.Main</code>:</p>
<CodeCard Language="csharp">
@("using Havit.Blazor.Components.Web            // <------ ADD THIS LINE")
@("using Havit.Blazor.Components.Web.Bootstrap  // <------ ADD THIS LINE")
@("")
@("public static async Task Main(string[] args)")
@("{")
@("\tvar builder = WebAssemblyHostBuilder.CreateDefault(args);")
@("\tbuilder.RootComponents.Add<App>(\"app\");")
@("")
@("\t// ... shortened for brevity")
@("")
@("\tbuilder.Services.AddHxServices();        // <------ ADD THIS LINE")
@("")
@("\tawait builder.Build().RunAsync();")
@("}")
</CodeCard>
<p>
	For <strong>Blazor Server</strong> (or WASM with server pre-rendering) add those registrations to your <code>Startup.cs</code> file, <code>ConfigureServices()</code> method.
	(You won't use the <code>builder</code> there, register the services to the <code>services</code> collection.)
</p>

<h3>5. [OPTIONAL] Add support for specific components</h3>
<p>Some of the components need a specific project setup to work. This usually includes adding registering a service and adding a host-component to <code>App.razor</code> or layout component.</p>
<p>For instructions see documentation of those components:</p>
<ul>
	<li><a href="/components/@nameof(HxMessenger)">@nameof(HxMessenger)</a> - displaying new toast-messages from your code easily</li>
	<li><a href="/components/@nameof(HxMessageBoxHost)">@nameof(HxMessageBoxHost)</a> - openin message-boxes (and await results) from your code</li>
</ul>

<h2>Ready, set, go!</h2>
<p>All the components come with <code>Hx</code> prefix. IntelliSense will be your friend...</p>
<Demo Type="typeof(GettingStarted_Demo)" Tabs="false" />