@page "/HxGridDemo"

<h1>HxGrid</h1>

<HxGrid Items="@cultureInfos" @bind-SelectedDataItem="currentCultureInfo" PageSize="10">
	<Columns>
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="Display Name" ItemTextFunc="@(item => item.DisplayName)" SortExpression="@(item => item.DisplayName)" />
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="Name" ItemTextFunc="@(item => item.Name)" SortExpression="@(item => item.Name)" ItemCssClassFunc="@(item => item.Name.Contains('Z') ? "text-right" : null)" />		
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="Link">
			<ItemTemplate>				
				<a href="https://www.havit.cz">link to a page</a>
				<HxButton Text="Go" />
			</ItemTemplate>
		</HxGridColumn>
	</Columns>
	<ContextMenu>
		<HxContextMenu>
			<HxContextMenuItem Title="Nastavit jako výchozí" />
		</HxContextMenu>
	</ContextMenu>
</HxGrid>

<p>Current CultureInfo: @currentCultureInfo?.DisplayName</p>

@code {
	private List<System.Globalization.CultureInfo> cultureInfos = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures).ToList();
	private System.Globalization.CultureInfo currentCultureInfo = null;
}