@page "/"

<PageTitle>Home</PageTitle>

<ul>
    <li><a href="@NavigationRoutes.AppInsightsTestServerSideRendering">SSR</a></li>
    <li><a href="@NavigationRoutes.AppInsightsTestInteractiveServer">Interactive Server</a></li>
    <li><a href="@NavigationRoutes.AppInsightsTestInteractiveServerPrerendering">Interactive Server + Prerendering</a></li>
    <li><a href="@NavigationRoutes.AppInsightsTestInteractiveWebAssembly">Interactive WebAssembly</a></li>
    <li><a href="@NavigationRoutes.AppInsightsTestInteractiveWebAssemblyPrerendering">Interactive WebAssembly + Prerendering</a></li>
</ul>
