@page "/"

<PageTitle>Home</PageTitle>

<ul>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsScriptTests.ServerSideRendering">SSR</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveServer">Interactive Server</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveServerPrerendering">Interactive Server + Prerendering</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveWebAssembly">Interactive WebAssembly</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveWebAssemblyPrerendering">Interactive WebAssembly + Prerendering</a></li>
</ul>
