@page "/"

<PageTitle>Home</PageTitle>

<h3>HxApplicationInsightsScript</h3>
<ul>
    <li><a href="@NavigationRoutes.HxApplicationInsightsScriptTests.ServerSideRendering">SSR</a></li>
    <li><a href="@NavigationRoutes.HxApplicationInsightsScriptTests.InteractiveServer">Interactive Server</a></li>
    <li><a href="@NavigationRoutes.HxApplicationInsightsScriptTests.InteractiveServerPrerendering">Interactive Server + Prerendering</a></li>
    <li><a href="@NavigationRoutes.HxApplicationInsightsScriptTests.InteractiveWebAssembly">Interactive WebAssembly</a></li>
    <li><a href="@NavigationRoutes.HxApplicationInsightsScriptTests.InteractiveWebAssemblyPrerendering">Interactive WebAssembly + Prerendering</a></li>
</ul>

<h3>Default Telemetry Initializer</h3>
<ul>
    <li><a href="@NavigationRoutes.DefaultTelemetryInitializerTests.ServerSideRendering">SSR</a></li>
    <li><a href="@NavigationRoutes.DefaultTelemetryInitializerTests.InteractiveServer">Interactive Server</a></li>
    <li><a href="@NavigationRoutes.DefaultTelemetryInitializerTests.InteractiveServerPrerendering">Interactive Server + Prerendering</a></li>
    <li><a href="@NavigationRoutes.DefaultTelemetryInitializerTests.InteractiveWebAssembly">Interactive WebAssembly</a></li>
    <li><a href="@NavigationRoutes.DefaultTelemetryInitializerTests.InteractiveWebAssemblyPrerendering">Interactive WebAssembly + Prerendering</a></li>
</ul>

<h3>Tracking</h3>
<ul>
    <li><a href="@NavigationRoutes.TrackingMethodsTests">Tracking Methods</a></li>
    <li><a href="@NavigationRoutes.TelemetryInitializerTests">Telemetry Initializer</a></li>
    <li><a href="@NavigationRoutes.AuthenticationUserContextTests">Authentication User Context</a></li>
</ul>

<h3>Page View Tracking</h3>
<ul>
    <li><a href="@NavigationRoutes.PageViewTracking.InitialPageViewTrackingTest">Initial Page View</a></li>
    <li><a href="@NavigationRoutes.PageViewTracking.AutoRouteTrackingPage1">Auto Route Tracking — Page 1</a></li>
    <li><a href="@NavigationRoutes.PageViewTracking.AutoRouteTrackingPage2">Auto Route Tracking — Page 2</a></li>
</ul>

<h3>Logging</h3>
<ul>
    <li><a href="@NavigationRoutes.Logging.LoggingTestPage">Logging</a></li>
</ul>
