@page "/"

<PageTitle>Home</PageTitle>

<ul>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsStriptTests.ServerSideRendering">SSR</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveServer">Interactive Server</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveServerPrerendering">Interactive Server + Prerendering</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveWebAssembly">Interactive WebAssembly</a></li>
    <li><a href="@NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveWebAssemblyPrerendering">Interactive WebAssembly + Prerendering</a></li>
</ul>
