<HxMultiSelect Label="Band members"
               TItem="Person"
               TValue="string"
               Data="@people"
               @bind-Value="@selectedPersonsInitials"
               TextSelector="@(p => p.Name)"
               ValueSelector="@(p => p.Initials)"
               EmptyText="-select values-"
               NullDataText="Loading band members..." />

<p class="mt-3">Selected initials: @String.Join(' ', selectedPersonsInitials)</p>

@code {
    private List<Person> people;
    private List<string> selectedPersonsInitials { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
		await Task.Delay(1000); // simulates slow server API call

        people = new List<Person>
        {
            new Person("Starr Ringo", "RS"),
            new Person("Lennon John", "JL"),
            new Person("McCartney Paul", "PMC"),
            new Person("Harrison George", "GH")
        };
    }

    private record Person(string Name, string Initials);
}