@namespace Havit.Blazor.Components.Web.Bootstrap 
@typeparam TValue


<div class="hx-tree-item @(Value.IsSelected ? "selected" : "")" @onclick="@OnItemClicked">
    @for (int i = 0; i < Value.Level; i++) {
        <div class="hx-tree-item-spacer"></div>
    }
    <div class="hx-tree-item-expander expander @(Value.IsExpanded ? "expanded" : "")">
        @if (Value.HasChildren)
        {
            <div>
                <HxIcon Icon="@BootstrapIcon.ChevronRight"/>
            </div>
        }
    </div>
    @if (Value.Icon != null)
    {
        <div class="icon">
            <HxIcon Icon="@Value.Icon" />
        </div>
    }
    <div title="@Value.Title" class="hx-tree-item-value text-nowrap text-truncate">@Value.Title</div>
    @if (!string.IsNullOrEmpty(Value.Badge))
    {
        <div>
            <HxBadge Color="@Value.BadgeColor">@Value.Badge</HxBadge>
        </div>
    }
</div>


@if (Value.HasChildren && Value.IsExpanded)
{
    foreach (var item in @Value.Children)
    {
        <HxTreeViewItem TValue="TValue" Value="item"/>
    }
}