<div class="row">
    <div class="col-4" style="height: 400px">
        <HxTreeView
            TValue="Directory"
            OnItemSelected="@(p => SelectedDirectory = p)"
            Items="@FileSystem"
            Content="@(p => p.Name)"
            Children="@(p => p.SubDirectories)"
            Icon="@(p => p.Icon)"/>
    </div>
    <div class="col-4">
        @if (SelectedDirectory == null)
        {
            <p>No dirrectory selected</p>
        }
        else
        {
            <p>Dirrectory <b>@SelectedDirectory.Name</b> selected.</p>
        }
    </div>
</div>

@code {

    public Directory SelectedDirectory { get; set; }

    public Directory[] FileSystem { get; set; }

    protected override void OnInitialized()
    {
        FileSystem = new[]
        {
            new Directory("C:\\", nameof(BootstrapIcon.Folder))
            {
                SubDirectories = new[]
                {
                    new Directory("Program Files", nameof(BootstrapIcon.Gem))
                    {
                        SubDirectories = new[] { new Directory("Visual Studio 2022"), new Directory("Rider 2021.3"), new Directory("VS Code"), new Directory("Borland Pascal") }
                    },
                    new Directory("Users", nameof(BootstrapIcon.Person))
                    {
                        SubDirectories = new[] { new Directory("Vladimir"), new Directory("Jhosav"), new Directory("Ben"), new Directory("Admin") }
                    },
                    new Directory("Data", nameof(BootstrapIcon.Person))
                    {
                        SubDirectories = new[] { new Directory("Open Office"), new Directory("Git", nameof(BootstrapIcon.Magic)), new Directory("Autocad") }
                    },
                }
            },
            new Directory("D:\\", BootstrapIcon.Folder2.Name)
            {
                SubDirectories = new[]
                {
                    new Directory("Games", nameof(BootstrapIcon.Play))
                    {
                        SubDirectories = new[] { new Directory("Cyberpunk 2077"), new Directory("The Witcher 3"), new Directory("Tetris"), new Directory("Little Big Adventure 2: Twinsen's Odyssey") }
                    },
                    new Directory("Music", nameof(BootstrapIcon.FileMusic))
                    {
                        SubDirectories = new[] { new Directory("Queen"), new Directory("Metallica"), new Directory("AC/DC") }
                    }
                }
            }
        };
    }
    
    public class Directory
    {
        public Directory(string name, string icon = null, string message = null, ThemeColor? severity = null)
        {
            Name = name;
            Icon = icon;
            Message = message;
            Severity = severity;
        }

        public string Name { get; }

        public string Icon { get; set; }

        public string Message { get; set; }

        public ThemeColor? Severity { get; set; }

        public Directory[] SubDirectories { get; set; }
    }

}