<div class="row">
    <div class="col-lg-4" style="height: 400px">
        <HxTreeView TItem="Directory"
                    @bind-SelectedItem="selectedDirectory"
                    Items="@fileSystem"
                    CssClass="border rounded p-2"
                    ItemTitleSelector="@(p => p.Name)"
                    ItemIconSelector="@(p => p.Icon)"
                    ItemChildrenSelector="@(p => p.Subdirectories)" />
    </div>
    <div class="col-lg-4">
        @if (selectedDirectory == null)
        {
            <p>No directory selected.</p>
        }
        else
        {
            <p>Directory <b>@selectedDirectory.Name</b> selected.</p>
        }
    </div>
</div>

@code {
    private Directory selectedDirectory;
    private Directory[] fileSystem;

    protected override void OnInitialized()
    {
        fileSystem = new[]
            {
            new Directory("C:\\", BootstrapIcon.Folder)
            {
                Subdirectories = new[]
                {
                    new Directory("Program Files", BootstrapIcon.Gem)
                    {
                        Subdirectories = new[] { new Directory("Visual Studio 2022"), new Directory("Rider 2021.3"), new Directory("VS Code"), new Directory("Borland Pascal") }
                    },
                    new Directory("Users", BootstrapIcon.Person)
                    {
                        Subdirectories = new[] { new Directory("Vladimir"), new Directory("Jhosav"), new Directory("Ben"), new Directory("Admin") }
                    },
                    new Directory("Data", BootstrapIcon.Person)
                    {
                        Subdirectories = new[] { new Directory("Open Office"), new Directory("Git", BootstrapIcon.Magic), new Directory("Autocad") }
                    },
                }
            },
            new Directory("D:\\", BootstrapIcon.Folder2)
            {
                Subdirectories = new[]
                {
                    new Directory("Games", BootstrapIcon.Play)
                    {
                        Subdirectories = new[] { new Directory("Cyberpunk 2077"), new Directory("The Witcher 3"), new Directory("Tetris"), new Directory("Little Big Adventure 2: Twinsen's Odyssey") }
                    },
                    new Directory("Music", BootstrapIcon.FileMusic)
                    {
                        Subdirectories = new[] { new Directory("Queen") { Subdirectories = new[] { new Directory("Live Killers"), new Directory("Live Magic") }}, new Directory("Metallica"), new Directory("AC/DC") }
                    },
                    new Directory("Images", BootstrapIcon.Image)
                }
            }
        };

        selectedDirectory = fileSystem.First();
    }

    public class Directory
    {
        public Directory(string name, IconBase icon = null, string message = null, ThemeColor? severity = null)
        {
            Name = name;
            Icon = icon;
            Message = message;
            Severity = severity;
        }

        public string Name { get; }

        public IconBase Icon { get; set; }

        public string Message { get; set; }

        public ThemeColor? Severity { get; set; }

        public Directory[] Subdirectories { get; set; }
    }

}