@namespace Havit.Blazor.Components.Web.Bootstrap

<dialog @ref="_dialogElement"
        class="@CssClassHelper.Combine("hx-dialog dialog", GetSizeCssClass(), GetFullscreenCssClass(), GetScrollableCssClass(), GetAnimationCssClass(), CssClassEffective)"
        data-bs-backdrop="@GetBackdropSetupValue(BackdropEffective)"
        data-bs-modal="@(NonModalEffective ? "false" : null)">
	@if (_opened || (RenderMode == DialogRenderMode.Always))
	{
		@if (!String.IsNullOrEmpty(Title) || (HeaderTemplate != null) || ShowCloseButtonEffective)
		{
			<div class="@CssClassHelper.Combine("dialog-header", HeaderCssClassEffective)">
				@if (!String.IsNullOrEmpty(Title))
				{
					<h1 class="dialog-title">@Title</h1>
				}
				@if (HeaderTemplate != null)
				{
					@HeaderTemplate
				}
				@if (ShowCloseButtonEffective)
				{
					if (CloseButtonIconEffective is null)
					{
						<button type="button" class="@CssClassHelper.Combine("btn-close text-reset", (CloseButtonSettingsEffective?.White == true) ? "btn-close-white" : null)" data-bs-dismiss="dialog" aria-label="Close"></button>
					}
					else
					{
						<button type="button" class="@CssClassHelper.Combine("hx-dialog-custom-close-btn btn-close d-flex align-items-center", (CloseButtonSettingsEffective?.White == true) ? "btn-close-white" : null)" data-bs-dismiss="dialog" aria-label="Close">
							<HxIcon Icon="@CloseButtonIconEffective" />
						</button>
					}
				}
			</div>
		}
		@if (BodyTemplate != null)
		{
			<div class="@CssClassHelper.Combine("dialog-body", BodyCssClassEffective)">
				@BodyTemplate
			</div>
		}
		@if (FooterTemplate != null)
		{
			<div class="@CssClassHelper.Combine("dialog-footer", FooterCssClassEffective)">
				@FooterTemplate
			</div>
		}
	}
</dialog>
