@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="calendar">
	@if (renderData != null)
	{
		<div class="navigation">
			<div role="button" @onclick="HandlePreviousMonthClickAsync" @onclick:stopPropagation>
				<HxIcon Icon="@BootstrapIcon.ChevronLeft"/>
			</div>

			<div class="input-group mx-1">
				<select class="form-select form-select-sm" value="@(DisplayMonth.Month - 1)" @onchange="HandleMonthChangeAsync" @onclick:stopPropagation>
					@for (int monthIndex = 0; monthIndex < renderData.Months.Count; monthIndex++)
					{
						<option value="@monthIndex">@renderData.Months[monthIndex]</option>
					}
				</select>
				<select class="form-select form-select-sm" value="@DisplayMonth.Year" @onchange="HandleYearChangeAsync" @onclick:stopPropagation>
					@foreach (int year in renderData.Years)
					{
						/* not "N" - we do not want thousands separator */
						<option value="@year">@year.ToString()</option>
					}
				</select>
			</div>

			<div role="button" @onclick="HandleNextMonthClickAsync" @onclick:stopPropagation>
				<HxIcon Icon="@BootstrapIcon.ChevronRight"/>
			</div>
		</div>

		<table>
			<tr class="day-names fw-bold">
				@foreach (string dayOfWeek in renderData.DaysOfWeek)
				{
					<td>@dayOfWeek</td>
				}
			</tr>
			@foreach (WeekData week in renderData.Weeks)
			{
				<tr class="week">
					@foreach (DayData day in week.Days)
					{
						if (day.ClickEnabled)
						{
							<td class="@day.CssClass" role="button" @onclick="async () => await HandleDayClickAsync(day)" @onclick:stopPropagation>@day.DayInMonth</td>
						}
						else
						{
							<td class="@day.CssClass">@day.DayInMonth</td>
						}
					}
				</tr>
			}
		</table>
	}
</div>