@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@inherits Microsoft.AspNetCore.Components.Forms.InputBase<DateTimeRange>

<div class="input-group mb-3">
	<div class="dropdown">
		<input type="text" class="form-control" value="@FormatDate(Value.StartDate)" placeholder="@Localizer["From"]" data-bs-toggle="dropdown" data-bs-auto-close="false" @onchange="HandleFromChange" @onfocus="HandleFromFocusAsync" @onblur="HandleFromBlurAsync" >
		<input type="text" class="form-control" value="@FormatDate(Value.EndDate)" placeholder="@Localizer["To"]" data-bs-toggle="dropdown" data-bs-auto-close="false" @onchange="HandleToChange" @onfocus="HandleToFocusAsync" @onblur="HandleToBlurAsync" />
		<div class="dropdown-menu">
			<HxCalendar />
			@*TODO: String localization*@
			<HxButton Text="Clear" Color="ThemeColor.Secondary" />
			<HxButton Text="OK" Color="ThemeColor.Secondary" />
		</div>
	</div>
	<div class="dropdown">
		<button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
			<HxIcon Icon="@BootstrapIcon.ThreeDotsVertical" />
		</button>
		<ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item" href="#">@Localizer["ThisMonth"]</a></li>
			<li><a class="dropdown-item" href="#">@Localizer["ThisYear"]</a></li>
			<li><a class="dropdown-item" href="#">@Localizer["LastMonth"]</a></li>
			<li><a class="dropdown-item" href="#">@Localizer["LastYear"]</a></li>
		</ul>
	</div>
</div>
