@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="@tabsListRegistration" Name="@TabsRegistrationCascadingValueName" IsFixed="true">
	@ChildContent
</CascadingValue>

<ul class="nav nav-tabs">
	@foreach (HxTab tab in tabsList)
	{
		<UpdatedContentRenderer Component="@tab">
			@if (tab.Visible)
			{
				<li class="nav-item">
					<a class="@CssClassHelper.Combine("nav-link", tab.IsCurrentlyActive ? "active" : String.Empty, CascadeEnabledComponent.EnabledEffective(tab) ? String.Empty : "disabled")"
					   @onclick="async () => await HandleTabClick(tab)">
						@tab.Title
						@tab.TitleTemplate
					</a>
				</li>
			}
		</UpdatedContentRenderer>
	}
</ul>

<div class="tab-content">
	@foreach (HxTab tab in tabsList)
	{
		<UpdatedContentRenderer Component="@tab">
			@if (tab.Visible)
			{
				<div class="@CssClassHelper.Combine("tab-pane", tab.IsCurrentlyActive ? "active" : String.Empty)">
					@tab.Content
				</div>
			}
		</UpdatedContentRenderer>
	}
</div>
@*<div>
		@{
			HxTab activeTab = tabsList.FirstOrDefault(tab => tab.IsActive);
			if (activeTab != null)
			{
				<text>@activeTab.Content</text>
			}
		}
	</div>*@
