@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="@tabsListRegistration" Name="@TabsRegistrationCascadingValueName" IsFixed="true">
	@ChildContent
</CascadingValue>

<HxNav CssClass="@CssClassHelper.Combine("hx-tab-panel", this.CssClass)" Variant="NavVariant.Tabs">
	@foreach (HxTab tab in tabsList)
	{
		<UpdatedContentRenderer Component="@tab">
			@if (tab.Visible)
			{
				<HxNavLink OnClick="async () => await HandleTabClick(tab)"
						   CssClass="@(IsActive(tab) ? "active" : null)"
						   Enabled="CascadeEnabledComponent.EnabledEffective(tab)">
					@tab.Title
					@tab.TitleTemplate
				</HxNavLink>
			}
		</UpdatedContentRenderer>
	}
</HxNav>

<div class="tab-content">
	@foreach (HxTab tab in tabsList)
	{
		<UpdatedContentRenderer Component="@tab">
			@if (tab.Visible)
			{
				<div class="@CssClassHelper.Combine("tab-pane", IsActive(tab) ? "active" : String.Empty)">
					@tab.Content
				</div>
			}
		</UpdatedContentRenderer>
	}
</div>