@namespace Havit.Blazor.Components.Web.Bootstrap

<CascadingValue Value="@this" IsFixed="true">
	@{
		StartCollectingTabs();
	}
	@ChildContent
	<Havit.Blazor.Components.Web.Internal.HxDeferInternal>
		@{
			FinishCollectingTabs();
		}

		@if (Variant == TabPanelVariant.Standard)
		{
			@_renderTabsNavigation
			@_renderTabsContent
		}

		@if (Variant == TabPanelVariant.Card)
		{
			<HxCard Settings="CardSettings">
				<HeaderTemplate>
					@_renderTabsNavigation
				</HeaderTemplate>
				<BodyTemplate>
					@_renderTabsContent
				</BodyTemplate>
			</HxCard>
		}
	</Havit.Blazor.Components.Web.Internal.HxDeferInternal>
</CascadingValue>

@code {
	private void RenderTabsNavigation(RenderTreeBuilder __builder)
	{
		<HxNav CssClass="@CssClassHelper.Combine("hx-tab-panel", GetNavCssClassInCardMode(), CssClass)" Variant="NavVariant" role="tablist">
			@foreach (HxTab tab in _tabsListOrdered)
			{
				@if (tab.Visible)
				{
					<button type="button"
					        @key="@tab.Id"
					        class="@CssClassHelper.Combine("nav-link", (IsActive(tab) ? "active" : null), (CascadeEnabledComponent.EnabledEffective(tab) ? null : "disabled"), tab.TitleCssClass)"
					        @onclick="async () => await HandleTabClick(tab)"
					        aria-disabled="@(CascadeEnabledComponent.EnabledEffective(tab) ? null : "true")"
					        role="tab"
					        id="@(tab.Id + "-header")"
					        aria-controls="@((RenderMode == TabPanelRenderMode.AllTabs || IsActive(tab)) ? tab.Id : null)"
					        aria-selected="@(IsActive(tab) ? "true" : "false")"
					        tabindex="@(IsActive(tab) ? "0" : "-1")">
						@tab.Title
						@tab.TitleTemplate
					</button>
				}
			}
		</HxNav>
	}

	private void RenderTabsContent(RenderTreeBuilder __builder)
	{
		<div class="tab-content">
			@foreach (HxTab tab in _tabsListOrdered)
			{
				@if (tab.Visible)
				{
					if ((RenderMode == TabPanelRenderMode.AllTabs)
					|| ((RenderMode == TabPanelRenderMode.ActiveTabOnly) && IsActive(tab)))
					{
                        <div @key="@tab.Id" id="@tab.Id" role="tabpanel" aria-labelledby="@(tab.Id + "-header")" tabindex="0"  class="@CssClassHelper.Combine("tab-pane fade", (IsActive(tab) ? "show active" : null), tab.ContentCssClass)">
                            @tab.Content
						</div>
					}
				}
			}
		</div>
	}
}
