<HxGrid Items="@cultureInfos" @bind-SelectedDataItem="currentCultureInfo" PageSize="20">
	<Columns>
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="Display Name" ItemText="@(item => item.DisplayName)" SortExpression="@(item => item.DisplayName)" />
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="ISO" ItemText="@(item => item.ThreeLetterISOLanguageName)" SortExpression="@(item => item.ThreeLetterISOLanguageName)" />
		<HxGridColumn TItemType="System.Globalization.CultureInfo" HeaderText="Link">
			<ItemTemplate Context="item">
				<a href="@("https://www.google.com?q=" + System.Net.WebUtility.UrlEncode(item.EnglishName))">Search for @(item.EnglishName)...</a>
			</ItemTemplate>
		</HxGridColumn>
	</Columns>
	<ContextMenu>
		@*<HxContextMenu>
			<HxContextMenuItem Title="Použít" />
		</HxContextMenu>*@
	</ContextMenu>
</HxGrid>

<p>Current CultureInfo: @(currentCultureInfo?.DisplayName ?? "null")</p>

@code {
	private List<System.Globalization.CultureInfo> cultureInfos = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures).ToList();
	private System.Globalization.CultureInfo currentCultureInfo = null;
}