<h6>@((MarkupString)debug)</h6>

<div style="height: 400px; overflow-y: scroll;">
	<HxGrid TItem="CultureInfo"
			DataProvider="@ClientCultureInfosDataProvider"
			Responsive="true"
			ContentNavigationMode="GridContentNavigationMode.InfiniteScroll"
			ItemRowHeight="41">
		<Columns>
			<HxGridColumn HeaderText="Display Name" ItemTextSelector="@(item => item.DisplayName)" SortKeySelector="@(item => item.DisplayName)" IsDefaultSortColumn="true" />
			<HxGridColumn HeaderText="Name" ItemTextSelector="@(item => item.Name)" SortKeySelector="@(item => item.Name)" ItemCssClassSelector="@(item => item.Name.Contains('Z') ? "text-end" : null)" />
		</Columns>
	</HxGrid>
</div>

@code {
	private string debug = "";

	private async Task<GridDataProviderResult<CultureInfo>> ClientCultureInfosDataProvider(GridDataProviderRequest<CultureInfo> request)
	{
		debug = $"{debug}Requesting culture infos: StartIndex={request.StartIndex}, Count={request.Count}<br />";
		StateHasChanged();

		await Task.Delay(500); // simulate server call
		var cultures = CultureInfo.GetCultures(CultureTypes.SpecificCultures).OrderBy(item => item.EnglishName).ToList();

		return request.ApplyTo(cultures);
	}
}


