<h5>Button with an icon</h5>
<p>
	<HxButton Icon="@BootstrapIcon.Bootstrap" Color="ThemeColor.Primary" Text="Go" />
</p>

<h5>Button with a badge</h5>
<p>
	<HxButton Color="ThemeColor.Primary">
		Send all <span class="badge bg-secondary">15</span>
	</HxButton>
</p>

<h5>Button with a custom css class</h5>
<p>
	<HxButton Color="ThemeColor.Primary" CssClass="border border-danger border-3" Text="border border-danger border-3" />
</p>

<h5>Button with a (standard) skin</h5>
<p>
	<HxButton Skin="@ButtonSkins.OK" />
	<HxButton Skin="@ButtonSkins.Save" OnClick="async () => await Task.Delay(3000)" Spinner="true" />
	<HxButton Skin="@ButtonSkins.Cancel" />
</p>

<h5>Button with a custom skin</h5>
<p>
	<HxButton Skin="@CustomButtonSkins.Demo" />
</p>

<h5>Button sizes</h5>
<p>
	<HxButton Text="Small" Size="ButtonSize.Small" Color="ThemeColor.Primary" />
	<HxButton Text="Regular" Size="ButtonSize.Regular" Color="ThemeColor.Primary" />
	<HxButton Text="Large" Size="ButtonSize.Large" Color="ThemeColor.Primary" />
</p>

@code {

	public class CustomButtonSkins
	{
		public static ButtonSkin Demo { get; } = new ButtonSkin() { Text = "Welcome", Icon = BootstrapIcon.Heart, Color = ThemeColor.Danger };
	};

}