<h5>Button with an icon</h5>
<p>
	<HxButton Icon="@BootstrapIcon.Bootstrap" Color="ThemeColor.Primary" Text="Go" />
</p>

<h5>Button with a badge</h5>
<p>
	<HxButton Color="ThemeColor.Primary">
		Send all <span class="badge bg-secondary">15</span>
	</HxButton>
</p>

<h5>Button with a custom css class</h5>
<p>
	<HxButton Color="ThemeColor.Primary" CssClass="btn-lg" Text="Large button" />
</p>

<h5>Button with a (standard) skin</h5>
<p>
	<HxButton Skin="@ButtonSkins.OK" />
	<HxButton Skin="@ButtonSkins.Save" />
	<HxButton Skin="@ButtonSkins.Cancel" />
</p>

<h5>Button with a custom skin</h5>
<p>
	<HxButton Skin="@CustomButtonSkins.Demo" />
</p>

@code {

	public class CustomButtonSkins
	{
		public static ButtonSkin Demo { get; } = new ButtonSkin(text: "Welcome", icon: BootstrapIcon.Heart, color: ThemeColor.Danger);
	};

}