@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<li class="@ContainerCssClass">
	<HxNavLinkInternal href="@Href"
					   Match="@(Match ?? NavLinkMatch.All)"
					   OnClick="OnClick.HasDelegate ? InvokeOnClickAsync : null"
					   class="@CssClassHelper.Combine("dropdown-item", CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled", CssClass)"
					   ActiveClass="@(((Match is null) || (Href is null)) ? String.Empty : "active")"
					   tabindex="@(CascadeEnabledComponent.EnabledEffective(this) ? null : "-1")"
					   aria-disabled="@(CascadeEnabledComponent.EnabledEffective(this) ? null : "true")"
					   role="@(OnClick.HasDelegate ? "button" : null)"
					   @attributes="this.AdditionalAttributes">
		@Text
		@ChildContent
	</HxNavLinkInternal>
</li>