@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem

<div class="@CssClassHelper.Combine("dropdown-menu", CssClass)">
	@if (Items != null && Items.Any())
	{
		foreach (TItem item in Items)
		{
			TItem currentItem = item;

			<button
				@onfocusin="@(HighlightFirstSuggestionEffective ? (() => hasFocus = true) : null)"
				@onfocusout="@(HighlightFirstSuggestionEffective ? (() => hasFocus = false) : null)"
				class="@CssClassHelper.Combine("dropdown-item text-truncate", (currentItem.Equals(Items.FirstOrDefault()) && HighlightFirstSuggestionEffective && !hasFocus) ? "hx-autosuggest-items-item-focus" : null)"
				type="button"
				@onclick="async () => await HandleItemClick(currentItem)"
				@onclick:stopPropagation="true"
				tabindex="-1">

				@ItemTemplate(currentItem)

			</button>
		}
	}
	else if (EmptyTemplate != null)
	{
		@EmptyTemplate
	}
</div>