@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem
@typeparam TValue

<div id="@dropdownId" class="@CssClassHelper.Combine("hx-autosuggest dropdown", HasInputGroupsEffective ? "input-group" : null, InputGroupCssClass)">
    @if (InputGroupStartText is not null)
    {
        <span class="input-group-text">@InputGroupStartText</span>
    }

    @InputGroupStartTemplate

    <div class="@CssClassHelper.Combine("hx-autosuggest-input-wrapper", (LabelTypeEffective == Havit.Blazor.Components.Web.Bootstrap.LabelType.Floating) ? "form-floating" : null)">
        <HxAutosuggestInputInternal @ref="autosuggestInput"
                            InputId="@InputId"
                            EnabledEffective="@EnabledEffective"
                            Value="@userInput"
                            OnInput="HandleInputInput"
                            OnFocus="HandleInputFocus"
                            OnBlur="HandleInputBlur"
                            Placeholder="@Placeholder"
                            CssClass="@InputCssClass"
                            DropdownOffset="@DropdownOffset"
                            AdditionalAttributes="this.AdditionalAttributes" />

        @if (LabelTypeEffective == Havit.Blazor.Components.Web.Bootstrap.LabelType.Floating)
        {
            <HxFormValueComponentRenderer_Label FormValueComponent="@FormValueComponent" />
        }
        @if (EnabledEffective)
        {
            <div class="hx-autosuggest-input-icon">
                @if (dataProviderInProgress)
                {
                    <div>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>
                }
                else if (!EqualityComparer<TValue>.Default.Equals(Value, default))
                {
                    if (this.ClearIconEffective is not null)
                    {
                        <div role="button" @onclick="HandleCrossClick" @onclick:stopPropagation>
                            <HxIcon Icon="ClearIconEffective" />
                        </div>
                    }
                }
                else if (this.SearchIconEffective is not null)
                {
                    <HxIcon Icon="@SearchIconEffective" />
                }
            </div>
            <HxAutosuggestItemsInternal
                                    TItem="TItem"
                                    Items="@suggestions"
                                    OnItemClick="HandleItemSelected"
                                    FocusedItemIndex="focusedItemIndex"
                                    FocusedItemCssClass="hx-autosuggest-item-focused">

                <ItemTemplate>
                    @if (ItemTemplate != null)
                    {
                        <text>@ItemTemplate(context)</text>
                    }
                    else
                    {
                        <text>@TextSelectorEffective(context)</text>
                    }
                </ItemTemplate>
                <EmptyTemplate>
                    @EmptyTemplate
                </EmptyTemplate>

            </HxAutosuggestItemsInternal>
        }
    </div>

    @InputGroupEndTemplate

    @if (InputGroupEndText is not null)
    {
        <span class="input-group-text">@InputGroupEndText</span>
    }
</div>
