@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="this" IsFixed="true">
    <div>
        @if (!HasExpandableContent)                                           
        {
            <HxNavLink Href="@Href"
                   CssClass="@CssClassHelper.Combine(this.DropdownContainer is not null ? "dropdown-item" : null, this.CssClass, "position-relative")"
                   Match="this.Match"
                   Enabled="this.Enabled">

                @* To hide the nav-content in mobile view *@
                <div data-bs-toggle="collapse" data-bs-target="#@ParentSidebar.NavContentElementId" class="hx-sidebar-item-nav-content stretched-link">

                    <div class="hx-sidebar-nav-content-inner">
                        @if (Icon is not null)
                        {
                            <HxIcon Icon="Icon" />
                        }

                        @ContentTemplate
                            
                        <span class="@CssClassHelper.Combine("text", Icon == null ? null : "ms-3")">
                            @Text
                        </span>
                    </div>

                </div>
            </HxNavLink>
        }
        else
        {
            <HxDropdown Direction="DropdownDirection.End" CssClass="hx-sidebar-item">
                <HxNavLink Href="@Href"
                       CssClass="@CssClassHelper.Combine(this.CssClass)"
                       Match="this.Match"
                       Enabled="this.Enabled"
                       role="button"
                       data-bs-toggle="@(ParentSidebar.Collapsed ? "dropdown": "collapse")"
                       data-bs-target="@(!ParentSidebar.Collapsed ? "#" + id : null)"
                       aria-expanded="@(this.ShouldBeExpanded ? "true" : "false")">
                    <div class="hx-sidebar-item-navlink-content">
                        @if (Icon is not null)
                        {
                            <HxIcon Icon="Icon" />
                        }

                        @ContentTemplate

                        <span class="text">
                            @Text
                        </span>

                        <HxIcon Icon="@BootstrapIcon.ChevronRight" CssClass="expand-icon" />
                    </div>

                </HxNavLink>

                @if (ParentSidebar.Collapsed)
                {
                    <HxDropdownMenu CssClass="hx-sidebar-subitems">
                        @ChildContent
                    </HxDropdownMenu>
                }

            </HxDropdown>

            @if (!ParentSidebar.Collapsed)
            {
                <div class="@CssClassHelper.Combine("hx-sidebar-subitems collapse", this.ShouldBeExpanded ? "show" : null)" id="@id">
                    <nav class="nav hx-sidebar-collapsed-nav">
                        @ChildContent
                    </nav>
                </div>
            }
        }
    </div>
</CascadingValue>