@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<CascadingValue Value="this" IsFixed="true">
	<div @key="@ParentSidebar.Collapsed.ToString()"
		 class="@CssClassHelper.Combine(HighlightOnActiveChild ? "hx-sidebar-item-highlight-on-active-child" : null)">
		@if (!HasExpandableContent)
		{
			<HxTooltip WrapperCssClass="@(ParentSidebar.Collapsed ? "d-block" : null)"
					   Placement="TooltipPlacement.Right"
					   Trigger="TooltipTrigger.Hover"
					   Text="@(ParentSidebar.Collapsed ? TooltipText : null)">

				<HxNavLink Href="@Href"
						   Match="Match"
						   OnClick="@(OnClick.HasDelegate ? InvokeOnClickAsync : null)"
						   OnClickStopPropagation="OnClickStopPropagation"
						   OnClickPreventDefault="OnClickPreventDefault"
						   CssClass="@CssClassHelper.Combine(DropdownContainer is not null ? "dropdown-item" : null, CssClass, "hx-sidebar-item position-relative")"
						   Enabled="Enabled">

					@* To hide the nav-content in mobile view *@
					<div data-bs-toggle="collapse" data-bs-target="#@ParentSidebar.NavContentElementId" class="stretched-link">
						<HxSidebarItemNavLinkContentInternal Text="@Text"
															 Icon="Icon"
															 InnerCssClass="@((ParentSidebar.Collapsed && ParentSidebarItem is null) ? ParentSidebar.ResponsiveBreakpoint.GetCssClass("d-??-none") : null)"
															 ContentTemplate="ContentTemplate" />

					</div>
				</HxNavLink>
			</HxTooltip>
		}
		else
		{
			<HxDropdown Direction="DropdownDirection.End" CssClass="@CssClassHelper.Combine("hx-sidebar-item", ParentSidebar.Collapsed ? ParentSidebar.ResponsiveBreakpoint.GetCssClass("d-??-block") : null)">
				<HxNavLink Href="@Href"
						   Match="Match"
						   OnClick="@(OnClick.HasDelegate ? InvokeOnClickAsync : null)"
						   OnClickStopPropagation="OnClickStopPropagation"
						   OnClickPreventDefault="OnClickPreventDefault"
						   CssClass="@CssClass"
						   Enabled="Enabled"
						   role="button"
						   onmouseenter="bootstrap.Dropdown.getOrCreateInstance(event.target).show()"
						   onmouseleave="bootstrap.Dropdown.getInstance(event.target)?.hide()"
						   data-bs-toggle="@(!String.IsNullOrEmpty(Href) ? null : "collapse")"
						   data-bs-target="@(!ParentSidebar.Collapsed ? "#" + _id : null)"
						   data-bs-offset="0,0"
						   aria-expanded="@(expanded ? "true" : "false")">

					<HxSidebarItemNavLinkContentInternal Text="@Text"
														 Icon="Icon"
														 ContentTemplate="ContentTemplate"
														 InnerCssClass="@CssClassHelper.Combine(ParentSidebar.Collapsed ? "d-none" : null)"
														 Expandable="true"
														 Expanded="expanded" />

					<HxDropdownMenu CssClass="hx-sidebar-subitems">
						@ChildContent
					</HxDropdownMenu>

				</HxNavLink>
			</HxDropdown>

			<HxNavLink Href="@Href"
					   CssClass="@CssClassHelper.Combine(CssClass, "hx-sidebar-item", ParentSidebar.Collapsed ? ParentSidebar.ResponsiveBreakpoint.GetCssClass("d-??-none") : null)"
					   Match="Match"
					   Enabled="Enabled"
					   OnClick="HandleExpandableItemClick"
					   OnClickStopPropagation="OnClickStopPropagation"
					   OnClickPreventDefault="OnClickPreventDefault"
					   role="button"
					   data-bs-toggle="@(!String.IsNullOrEmpty(Href) ? null : "collapse")"
					   data-bs-target="@("#" + _id)"
					   aria-expanded="@(expanded ? "true" : "false")">

				<HxSidebarItemNavLinkContentInternal Text="@Text"
													 Icon="Icon"
													 ContentTemplate="ContentTemplate"
													 Expandable="true"
													 Expanded="expanded" />

			</HxNavLink>

			<HxCollapse Id="@_id"
						Parent="@(ParentSidebar.MultipleItemsExpansion ? null : $"#{ParentSidebar._navId}")"
						@ref="collapseComponent"
						CssClass="@CssClassHelper.Combine("hx-sidebar-subitems", ParentSidebar.Collapsed ? ParentSidebar.ResponsiveBreakpoint.GetCssClass("d-??-none") : null)"
						InitiallyExpanded="expanded"
						OnShown="HandleCollapseShown"
						OnHidden="HandleCollapseHidden">
				<nav class="nav hx-sidebar-collapsed-nav">
					@ChildContent
				</nav>
			</HxCollapse>
		}
	</div>
</CascadingValue>