@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("sidebar d-flex flex-column flex-shrink-0", GetDesktopCollapsedCssClass(), this.CssClass)">
	<div class="nav-menu d-flex flex-column bg-white">

		@if (HeaderTemplate is not null)
		{
			<div class="sidebar-header">
				@HeaderTemplate
			</div>
		}

		<div class="@CssClassHelper.Combine("sidebar-body flex-column mb-auto", ( !collapsedDesktop ? "overflow-auto": null), @GetCollapsedMobileCssClass())">
			<HxNav Orientation="NavOrientation.Vertical" CssClass="ps-0">
				<CascadingValue Value="@collapsedDesktop" TValue="bool" Name="IsSidebarCollapsed">
					@ItemsTemplate
				</CascadingValue>
			</HxNav>
			<div class="navbar-toggler navbar-light" role="button" @onclick="HandleMobileCollapseToggleClick"
				 @onclick:stopPropagation="true">
				<span class="navbar-toggler-icon border rounded"></span>
			</div>
			<div class="navbar-desktop-toggler translate-middle" role="button" @onclick="HandleDesktopCollapseToggleClick"
				 @onclick:stopPropagation="true">
				<HxIcon Icon="@(collapsedDesktop ? DesktopExpandIcon : DesktopCollapseIcon)" />
			</div>
		</div>

		@if (FooterTemplate is not null)
		{
			<div class="footer-template d-flex">
				@FooterTemplate
			</div>
		}
	</div>
</div>