@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="position-relative">
	<div class="hx-sidebar-item">
		@* CSS Isolation (.nav-item not needed) *@
		<HxNavLink Href="@Href"
				   CssClass="@CssClassHelper.Combine(this.CssClass)"
				   Match="this.Match"
				   Enabled="this.Enabled"
				   role="button"
				   data-bs-toggle="@(HasExpandableContent ? "collapse" : null)"
				   data-bs-target="@(HasExpandableContent ? "#" + id : null)"
				   aria-expanded="@(HasExpandableContent ? "false" : null)">
			<div class="d-flex align-items-center">
				@if (Icon != null)
				{
					<HxIcon Icon="Icon" />
				}
				<span class="@CssClassHelper.Combine("text", Icon == null ? null : "ms-3")">
					@Text
				</span>
				@if (HasExpandableContent)
				{
					<HxIcon Icon="@BootstrapIcon.ChevronRight" CssClass="expand-icon ms-auto" />
				}
			</div>
		</HxNavLink>
	</div>
	@if (ChildContent is not null)
	{
		<div class="hx-sidebar-subitems collapse" id="@id">
			<nav class="nav flex-column">
				@ChildContent
			</nav>
		</div>
	}
</div>