@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal

<div class="@CssClassHelper.Combine("hx-sidebar", GetCollapsedCssClass(), CssClass)" id="@Id">
	<div class="nav-menu d-flex flex-column flex-grow-1 position-relative">

		@if (HeaderTemplate is not null)
		{
			<div class="hx-sidebar-header d-flex gap-2 align-items-center">
				<CascadingValue Value="@(this)">
					@HeaderTemplate
				</CascadingValue>
			</div>
		}

		<div class="hx-sidebar-content overflow-auto">
			<div class="hx-sidebar-body mb-auto w-100">
				<HxNav Id="@_navId" Orientation="NavOrientation.Vertical">
					<CascadingValue Value="@(this)" IsFixed="true">
						@ItemsTemplate
					</CascadingValue>
				</HxNav>
				<HxSidebarTogglerInternal Collapsed="Collapsed"
										  AriaControlsId="@Id"
										  TogglerTemplate="TogglerTemplate"
										  OnClick="HandleCollapseToggleClick" />
			</div>

			@if (FooterTemplate is not null)
			{
				<div class="hx-sidebar-footer">
					@FooterTemplate(new() { SidebarCollapsed = Collapsed })
				</div>
			}
		</div>
	</div>
</div>
