@*Hamburger button*@
<button data-bs-target="#sidebar-collapse" data-bs-toggle="collapse" class="sidebar-collapse-btn" role="button">
	<div></div>
	<div></div>
	<div></div>
</button>
<div class="col-md-2 collapse" id="sidebar-collapse">
	<div class="sidebar">
		<ul class="categories">
			<li>
				<a data-bs-target="#form-subcategories" data-bs-toggle="collapse" aria-expanded="true" role="button">Forms</a>
				<div class="collapse show" id="form-subcategories">
					<ul class="subcategories">
						<li><a href="/components/forminputs">Inputs</a></li>
						<li><a href="/components/hxinputfile">@nameof(HxInputFile)</a></li>
						<li><a href="/components/hxformstate">@nameof(HxFormState)</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-target="#components-subcategories" data-bs-toggle="collapse" role="button" aria-expanded="true">Components</a>
				<div class="collapse show" id="components-subcategories">
					<ul class="subcategories">
						<li><a href="/components/hxaccordion">@nameof(HxAccordion)</a></li>
						<li><a href="/components/hxbutton">@nameof(HxButton), @nameof(HxSubmit)</a></li>
						<li><a href="/components/hxcard">@nameof(HxCard)</a></li>
						<li><a href="/components/hxdrawer">@nameof(HxDrawer)</a></li>
						<li><a href="/components/hxgrid">@nameof(HxGrid<object>)</a></li>
						<li><a href="/components/hxicon">@nameof(HxIcon)</a></li>
						<li><a href="/components/hxinputfile">@nameof(HxInputFile)</a></li>
						<li><a href="/components/hxmessenger">@nameof(HxMessenger)</a></li>
						<li><a href="/components/hxrepeater">@nameof(HxRepeater<object>)</a></li>
						<li><a href="/components/tabs">Tabs</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-target="#dialogs-subcategories" data-bs-toggle="collapse" role="button" aria-expanded="true">Dialogs</a>
				<div class="collapse show" id="dialogs-subcategories">
					<ul class="subcategories">
						<li><a href="/components/hxmessagebox">@nameof(HxMessageBox)</a></li>
						<li><a href="/components/hxmodal">@nameof(HxModal)</a></li>
						<li><a href="/components/hxdialogbase">@nameof(HxDialogBase<object>)</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>