<HxSidebar CssClass="border-end border-start sticky-top" >
	<HeaderTemplate>
		<HxSidebarBrand BrandName="Havit.Blazor">
			<Logo>
				<svg width="23pt" height="23pt" version="1.1" viewBox="0 0 22 23" xmlns="http://www.w3.org/2000/svg">
					<path d="m19.309 8.2852c-0.37891 2.4102-1.5938 4.6094-3.4258 6.1992-1.832 1.5898-4.1641 2.4727-6.5781 2.4922-0.48828 0.019532-0.98047-0.011718-1.4648-0.089843-2.082-0.35938-3.6328-2.1406-3.7266-4.2734 0.011719-1.1562 0.46875-2.2578 1.2773-3.0742 1.6836-1.6992 4.4023-1.7188 6.1055-0.046874 0.82031 0.80469 1.2969 1.9062 1.3203 3.0586 0.019532 0.73047-0.29297 1.3711-0.93359 1.3867-0.6875 0-1.0078-0.49219-1.0078-1.1602v-1.8555c0-0.62109-0.5-1.1289-1.1172-1.1367h-1.5352c-0.91016-0.003906-1.7578 0.45703-2.2578 1.2227-0.49609 0.76953-0.57422 1.7422-0.20703 2.5781 0.36719 0.83984 1.1328 1.4336 2.0312 1.5781 0.89453 0.14453 1.8047-0.18359 2.4102-0.87109l0.050781-0.078125 0.054688 0.089844c0.375 0.51562 0.98047 0.80469 1.6133 0.77734 1.1562-0.085937 2.0352-1.0859 1.9766-2.2578 0.007813-0.48047-0.046875-0.96094-0.15625-1.4297-0.28516-1.3281-1.0469-2.5-2.1367-3.293-2.2539-1.6406-5.3711-1.293-7.2227 0.80078-0.89453 1.0117-1.3828 2.3242-1.3789 3.6797 0.015625 1.4375 0.58594 2.8125 1.5859 3.8359 0.99609 1.0273 2.3516 1.6172 3.7734 1.6562 0 0 0.40234 0.035156 0.85547 0.023437 2.207-0.011718 4.3633-0.66406 6.2148-1.875 0.027343-0.015625 0.054687 0.019532 0.035156 0.046875-1.8242 1.9883-4.4258 3.0625-7.1055 2.9375-1.75 0.03125-3.4375-0.66016-4.668-1.9141-1.2344-1.2578-1.9062-2.9688-1.8594-4.7383 0-2.1172 0.98828-4.1055 2.6641-5.375 1.1133-0.82813 2.457-1.2734 3.8359-1.2773h2.0625c1.6289-0.003906 3.1836-0.69531 4.2852-1.9141 0.007812-0.011719 0.023437-0.019531 0.042968-0.023437 0.03125-0.007813 0.070313 0.007812 0.085938 0.039062 0.007812 0.015625 0.011718 0.03125 0.011718 0.050782-0.085937 0.9375-0.39453 1.8398-0.89844 2.6289-0.015625 0.027344-0.015625 0.0625 0.003906 0.089844 0.019531 0.023437 0.050781 0.035156 0.082031 0.027343 1.9336-0.4375 3.543-1.7812 4.3398-3.6133 0.007813-0.015625 0.023438-0.03125 0.039063-0.039062 0.03125-0.019532 0.074219-0.019532 0.10547 0 0.019531 0.007812 0.03125 0.023437 0.042968 0.039062 0.80859 1.5664 1.0781 3.3594 0.77344 5.0977zm-10.953 2.6133c-0.48047 0-0.9375 0.21875-1.2422 0.59375-0.30469 0.375-0.42578 0.87109-0.33203 1.3477 0.125 0.64453 0.62109 1.1445 1.2578 1.2734 0.47266 0.09375 0.96094-0.027343 1.332-0.33594s0.58594-0.76953 0.58594-1.2539v-1.5156c0-0.058593-0.050781-0.10937-0.10938-0.10937z" fill="#fff"/>
				</svg>
			</Logo>
		</HxSidebarBrand>
	</HeaderTemplate>
	<ItemsTemplate>
		<HxSidebarItem Text="Getting started" Href="/" Match="NavLinkMatch.All" Icon="BootstrapIcon.House" />

		<HxSidebarItem Text="Forms" Icon="BootstrapIcon.InputCursorText">
			<HxSidebarItem Href="/components/forminputs" Text="Inputs" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAutosuggest)}")" Text="@nameof(HxAutosuggest)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputCheckbox)}")" Text="@(nameof(HxInputCheckbox))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputDate)}")" Text="@(nameof(HxInputDate) + "[Range]")" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputFile)}")" Text="@(nameof(HxInputFile) + "[Core]")" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputFileDropZone)}")" Text="@(nameof(HxInputFileDropZone))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputNumber)}")" Text="@(nameof(HxInputNumber))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputPercent<object>)}")" Text="@(nameof(HxInputPercent<object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputSwitch)}")" Text="@(nameof(HxInputSwitch))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputTags)}")" Text="@(nameof(HxInputTags))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputText)}")" Text="@(nameof(HxInputText))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputTextArea)}")" Text="@(nameof(HxInputTextArea))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCheckboxList<object, object>)}")" Text="@(nameof(HxCheckboxList<object, object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFormState)}")" Text="@nameof(HxFormState)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFormValue)}")" Text="@(nameof(HxFormValue) + " *TODO Doc*")" Enabled="false" />
			<HxSidebarItem Href="@($"/components/{nameof(HxRadioButtonList<object, object>)}")" Text="@nameof(HxRadioButtonList<object, object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSelect)}")" Text="@nameof(HxSelect)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFilterForm<object>)}")" Text="@(nameof(HxFilterForm<object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxValidationMessage<object>)}")" Text="@(nameof(HxValidationMessage<object>) + " *TODO Doc*")" Enabled="false" />
		</HxSidebarItem>

        <HxSidebarItem Text="Buttons & Indicators" Icon="BootstrapIcon.PlayBtn">
            <HxSidebarItem Href="@($"/components/{nameof(HxButton)}")" Text="@(nameof(HxButton) + " & " + nameof(HxSubmit))" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonGroup)}")" Text="@nameof(HxButtonGroup)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxButtonToolbar)}")" Text="@nameof(HxButtonToolbar)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSubmit)}")" Text="@nameof(HxSubmit)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxDropdown)}")" Text="@nameof(HxDropdown)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxBadge)}")" Text="@nameof(HxBadge)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxChipList)}")" Text="@(nameof(HxChipList) + " *TODO Doc*")" Enabled="false" />
            <HxSidebarItem Href="@($"/components/{nameof(HxIcon)}")" Text="@nameof(HxIcon)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxSpinner)}")" Text="@nameof(HxSpinner)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxProgressIndicator)}")" Text="@nameof(HxProgressIndicator)" />
            <HxSidebarItem Href="@($"/components/{nameof(HxTooltip)}")" Text="@nameof(HxTooltip)" />
        </HxSidebarItem>

		<HxSidebarItem Text="Data & Grid" Icon="BootstrapIcon.Table">
			<HxSidebarItem Href="@($"/components/{nameof(HxGrid<object>)}")" Text="@nameof(HxGrid<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxContextMenu)}")" Text="@(nameof(HxContextMenu))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxPager)}")" Text="@(nameof(HxPager))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxRepeater<object>)}")" Text="@nameof(HxRepeater<object>)" />
		</HxSidebarItem>

		<HxSidebarItem Text="Layout & Typography" Icon="BootstrapIcon.LayoutWtf">
			<HxSidebarItem Href="@($"/components/{nameof(HxAccordion)}")" Text="@nameof(HxAccordion)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAlert)}")" Text="@nameof(HxAlert)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxBadge)}")" Text="@nameof(HxBadge)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCard)}")" Text="@nameof(HxCard)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCarousel)}")" Text="@nameof(HxCarousel)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxIcon)}")" Text="@nameof(HxIcon)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSpinner)}")" Text="@nameof(HxSpinner)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxProgressIndicator)}")" Text="@nameof(HxProgressIndicator)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTooltip)}")" Text="@nameof(HxTooltip)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTabPanel)}")" Text="@nameof(HxTabPanel)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxListLayout)}")" Text="@(nameof(HxListLayout))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFormValue)}")" Text="@(nameof(HxFormValue) + " *TODO Doc*")" Enabled="false" />
		</HxSidebarItem>

		<HxSidebarItem Text="Navigation" Icon="BootstrapIcon.SignpostSplit">
			<HxSidebarItem Href="@($"/components/{nameof(HxNav)}")" Text="@nameof(HxNav)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxNavLink)}")" Text="@nameof(HxNavLink)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxScrollspy)}")" Text="@nameof(HxScrollspy)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSidebar)}")" Text="@nameof(HxSidebar)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAnchorFragmentNavigation)}")" Text="@nameof(HxAnchorFragmentNavigation)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxContextMenu)}")" Text="@(nameof(HxContextMenu))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxDropdown)}")" Text="@nameof(HxDropdown)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTabPanel)}")" Text="@nameof(HxTabPanel)" />
		</HxSidebarItem>

		<HxSidebarItem Text="Modals & Interactions" Icon="BootstrapIcon.ChatText">
			<HxSidebarItem Href="@($"/components/{nameof(HxMessageBox)}")" Text="@nameof(HxMessageBox)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxModal)}")" Text="@nameof(HxModal)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxDialogBase<object>)}")" Text="@nameof(HxDialogBase<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxOffcanvas)}")" Text="@nameof(HxOffcanvas)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxMessenger)}")" Text="@nameof(HxMessenger)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxToast)}")" Text="@nameof(HxToast)" />
		</HxSidebarItem>

		<HxSidebarItem Text="Special" Icon="BootstrapIcon.Stars">
			<HxSidebarItem Href="@($"/components/{nameof(Havit.Blazor.GoogleTagManager.HxGoogleTagManager)}")" Text="@nameof(Havit.Blazor.GoogleTagManager.HxGoogleTagManager)" />
		</HxSidebarItem>

		<HxSidebarItem Text="All Components" Icon="BootstrapIcon.SortAlphaDown">
			<HxSidebarItem Href="@($"/components/{nameof(HxAnchorFragmentNavigation)}")" Text="@nameof(HxAnchorFragmentNavigation)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAccordion)}")" Text="@nameof(HxAccordion)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAlert)}")" Text="@nameof(HxAlert)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxAutosuggest)}")" Text="@nameof(HxAutosuggest)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxBadge)}")" Text="@nameof(HxBadge)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxButton)}")" Text="@nameof(HxButton)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxButtonGroup)}")" Text="@nameof(HxButtonGroup)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxButtonToolbar)}")" Text="@nameof(HxButtonToolbar)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCalendar)}")" Text="@nameof(HxCalendar)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCard)}")" Text="@nameof(HxCard)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCarousel)}")" Text="@nameof(HxCarousel)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxCheckboxList<object, object>)}")" Text="@(nameof(HxCheckboxList<object, object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxChipList)}")" Text="@(nameof(HxChipList) + " *TODO Doc*")" Enabled="false" />
			<HxSidebarItem Href="@($"/components/{nameof(HxContextMenu)}")" Text="@(nameof(HxContextMenu))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxDialogBase<object>)}")" Text="@nameof(HxDialogBase<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxDropdown)}")" Text="@nameof(HxDropdown)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFormState)}")" Text="@nameof(HxFormState)" />
			<HxSidebarItem Href="@($"/components/{nameof(Havit.Blazor.GoogleTagManager.HxGoogleTagManager)}")" Text="@nameof(Havit.Blazor.GoogleTagManager.HxGoogleTagManager)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxGrid<object>)}")" Text="@nameof(HxGrid<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxIcon)}")" Text="@nameof(HxIcon)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputCheckbox)}")" Text="@(nameof(HxInputCheckbox))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputDate)}")" Text="@nameof(HxInputDate)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputDateRange)}")" Text="@nameof(HxInputDateRange)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputFile)}")" Text="@(nameof(HxInputFile) + "[Core]")" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputFileDropZone)}")" Text="@(nameof(HxInputFileDropZone))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputNumber)}")" Text="@(nameof(HxInputNumber))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputPercent<object>)}")" Text="@(nameof(HxInputPercent<object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputSwitch)}")" Text="@(nameof(HxInputSwitch))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputTags)}")" Text="@(nameof(HxInputTags))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputText)}")" Text="@(nameof(HxInputText))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxInputTextArea)}")" Text="@(nameof(HxInputTextArea))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFilterForm<object>)}")" Text="@(nameof(HxFilterForm<object>))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxFormValue)}")" Text="@(nameof(HxFormValue) + " *TODO Doc*")" Enabled="false" />
			<HxSidebarItem Href="@($"/components/{nameof(HxListLayout)}")" Text="@(nameof(HxListLayout))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxMessageBox)}")" Text="@nameof(HxMessageBox)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxMessenger)}")" Text="@nameof(HxMessenger)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxModal)}")" Text="@nameof(HxModal)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxNav)}")" Text="@nameof(HxNav)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxNavLink)}")" Text="@nameof(HxNavLink)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxNamedViewList<object>)}")" Text="@(nameof(HxNamedViewList<object>) + " *TODO Doc*")" Enabled="false" />
			<HxSidebarItem Href="@($"/components/{nameof(HxOffcanvas)}")" Text="@nameof(HxOffcanvas)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxPager)}")" Text="@(nameof(HxPager))" />
			<HxSidebarItem Href="@($"/components/{nameof(HxProgressIndicator)}")" Text="@nameof(HxProgressIndicator)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxRadioButtonList<object, object>)}")" Text="@nameof(HxRadioButtonList<object, object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxRepeater<object>)}")" Text="@nameof(HxRepeater<object>)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSelect)}")" Text="@nameof(HxSelect)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSidebar)}")" Text="@nameof(HxSidebar)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSpinner)}")" Text="@nameof(HxSpinner)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxScrollspy)}")" Text="@nameof(HxScrollspy)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxSubmit)}")" Text="@nameof(HxSubmit)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTabPanel)}")" Text="@nameof(HxTabPanel)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxToast)}")" Text="@nameof(HxToast)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxTooltip)}")" Text="@nameof(HxTooltip)" />
			<HxSidebarItem Href="@($"/components/{nameof(HxValidationMessage<object>)}")" Text="@(nameof(HxValidationMessage<object>) + " *TODO Doc*")" Enabled="false" />
		</HxSidebarItem>
	</ItemsTemplate>
    <FooterTemplate>
        <div class="fs-5 px-4 py-3">
            <a href="https://github.com/havit/Havit.Blazor" class="text-dark"><HxIcon Icon="BootstrapIcon.Github" /></a>
        </div>
    </FooterTemplate>
</HxSidebar>