@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<div class="@CssClassHelper.Combine("submenu", CssClass)" @attributes="AdditionalAttributes">
    <button type="button"
            class="@CssClassHelper.Combine("menu-item", CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled", Color?.ToThemeCss())"
            disabled="@(CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled")"
            aria-haspopup="true"
            aria-expanded="false">
        <HxMenuItemIconInternal Icon="@Icon" CssClass="@IconCssClass" />
        @if (TitleTemplate is not null)
        {
            @TitleTemplate
        }
        else
        {
            @Text
        }
    </button>
    <div class="menu">
        @ChildContent
    </div>
</div>
