@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="hx-password-strength">
	@ChildContent
	<div @ref="_elementReference"
		 class="@GetMeterCssClass()"
		 data-bs-strength="@GetStaticStrengthAttributeValue()"
		 @attributes="AdditionalAttributes">
		@if (VariantEffective == PasswordStrengthVariant.Segments)
		{
			for (int i = 0; i < SegmentCount; i++)
			{
				<div class="@GetSegmentCssClass(i)"></div>
			}
		}
	</div>
	@if (ShowTextEffective)
	{
		<span class="strength-text" data-bs-strength="@GetStaticStrengthAttributeValue()" style="@GetStaticTextStyle()">@GetStaticTextValue()</span>
	}
</div>
