@namespace Havit.Blazor.Components.Web.Bootstrap

@{
	string text = GetText();
}

<HxTooltip Text="@Tooltip" Placement="@TooltipPlacement">
	<button type="@GetButtonType()"
			class="@GetButtonCssClass()"
			@onclick="HandleClick"
			@onclick:stopPropagation="this.OnClickStopPropagation"
			disabled="@DisabledEffective"
			form="@FormId"
			@attributes="this.AdditionalAttributes">

			@if ((IconPosition == Internal.IconPosition.Start) && ((this.IconEffective is not null) || this.SpinnerEffective))
			{
				if (this.SpinnerEffective)
				{
					<HxSpinner Size="SpinnerSize.Small" />
				}
				else if (this.IconEffective is not null)
				{
					<HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
				}

				@if (!String.IsNullOrEmpty(text) || (ChildContent != null))
				{
					<span>&nbsp;</span>
				}
			}

			@text
			@ChildContent

			@if ((IconPosition == Internal.IconPosition.End) && ((this.IconEffective is not null) || this.SpinnerEffective))
			{
				@if (!String.IsNullOrEmpty(text) || (ChildContent != null))
				{
					<span>&nbsp;</span>
				}

				if (this.SpinnerEffective)
				{
					<HxSpinner Size="SpinnerSize.Small" />
				}
				else if (this.IconEffective is not null)
				{
					<HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
				}
			}

	</button>
</HxTooltip>