@namespace Havit.Blazor.Components.Web.Bootstrap

<button type="@GetButtonType()"
	class="@CssClassHelper.Combine("hx-button","btn", GetColorCssClass(), GetSizeCssClass(), this.Skin?.CssClass, this.CssClass)"
	@onclick="HandleClick" @onclick:stopPropagation="this.OnClickStopPropagation"
	disabled="@(!CascadeEnabledComponent.EnabledEffective(this))" form="@FormId">

	@if ((this.Icon ?? this.Skin?.Icon) is not null)
	{
	 <HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
	 <span>&nbsp;</span>
	}

 @GetText()

 @ChildContent
</button>