@namespace Havit.Blazor.Components.Web.Bootstrap

<HxTooltip Text="@Tooltip" Placement="@TooltipPlacement" CssClass="@TooltipCssClass" WrapperCssClass="@TooltipWrapperCssClass">
	<button @ref="buttonElementReference"
			type="@GetButtonType()"
			class="@GetButtonCssClass()"
			@onclick="HandleClick"
			@onclick:stopPropagation="this.OnClickStopPropagation"
			@onclick:preventDefault="this.OnClickPreventDefault"
			disabled="@DisabledEffective"
			form="@FormId"
			@attributes="this.AdditionalAttributes">

		@if ((IconPlacementEffective == ButtonIconPlacement.Start) && ((this.IconEffective is not null) || this.SpinnerEffective))
		{
			if (this.SpinnerEffective)
			{
				<HxSpinner Size="SpinnerSize.Small" />
			}
			else if (this.IconEffective is not null)
			{
				<HxIcon Icon="this.IconEffective" />
			}

			@if (!String.IsNullOrEmpty(this.Text) || (ChildContent != null))
			{
				<text>&nbsp;</text>
			}
		}

		@this.Text
		@ChildContent

		@if ((IconPlacementEffective == ButtonIconPlacement.End) && ((this.IconEffective is not null) || this.SpinnerEffective))
		{
			@if (!String.IsNullOrEmpty(this.Text) || (ChildContent != null))
			{
				<text>&nbsp;</text>
			}

			if (this.SpinnerEffective)
			{
				<HxSpinner Size="SpinnerSize.Small" />
			}
			else if (this.IconEffective is not null)
			{
				<HxIcon Icon="this.IconEffective" />
			}
		}
	</button>
</HxTooltip>