@namespace Havit.Blazor.Components.Web.Bootstrap

@{
	string text = GetText();
}

<HxTooltip Text="@Tooltip" Placement="@TooltipPlacement">
	<button type="@GetButtonType()"
			class="@CssClassHelper.Combine("hx-button", GetColorCssClass(), GetSizeCssClass(), this.Skin?.CssClass, this.CssClass)"
			@onclick="HandleClick"
			@onclick:stopPropagation="this.OnClickStopPropagation"
			disabled="@DisabledEffective"
			form="@FormId">

		@if ((this.IconEffective is not null) || this.SpinnerEffective)
		{
			if (this.SpinnerEffective)
			{
				<HxSpinner Size="SpinnerSize.Small" />
			}
			else if (this.IconEffective is not null)
			{
				<HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
			}

			@if (!String.IsNullOrEmpty(text) || (ChildContent != null))
			{
				<span>&nbsp;</span>
			}
		}

		@text

		@ChildContent
	</button>
</HxTooltip>