@namespace Havit.Blazor.Components.Web.Bootstrap

<HxTooltip @ref="_tooltipComponent"
           Text="@Tooltip"
           Placement="@TooltipPlacement"
           Container="@TooltipContainer"
           CssClass="@TooltipCssClass"
           WrapperCssClass="@GetTooltipWrapperCssClass()">
    <button @ref="buttonElementReference"
            type="@GetButtonType()"
            class="@GetButtonCssClass()"
            @onclick="HandleClick"
  			@onclick:stopPropagation="OnClickStopPropagation"
			@onclick:preventDefault="OnClickPreventDefault"
			disabled="@DisabledEffective"
            form="@FormId"
            @attributes="this.AdditionalAttributes">

        @if ((IconPlacementEffective == ButtonIconPlacement.Start) && ((IconEffective is not null) || SpinnerEffective))
        {
            if (SpinnerEffective)
            {
                <HxSpinner Size="SpinnerSize.Small" />
            }
            if (IconEffective is not null)
            {
                <HxIcon Icon="IconEffective" CssClass="@CssClassHelper.Combine(IconCssClassEffective, SpinnerEffective ? "d-none" : null)" />
            }
        }


        @Text
        @ChildContent

        @if ((IconPlacementEffective == ButtonIconPlacement.End) && ((IconEffective is not null) || SpinnerEffective))
        {
            if (SpinnerEffective)
            {
                <HxSpinner Size="SpinnerSize.Small" />
            }
            if (IconEffective is not null)
            {
                <HxIcon Icon="IconEffective" CssClass="@CssClassHelper.Combine(IconCssClassEffective, SpinnerEffective ? "d-none" : null)" />
            }
        }
    </button>
</HxTooltip>