@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("sidebar d-flex flex-column", GetDesktopCollapsedCssClass())">
	<div class="nav-menu d-flex w-auto flex-column p-3 bg-white ">

		<!--Brand-->
		<div>
			@if (BrandTemplate == null)
			{
				<a href="/" class="d-flex  align-items-center pb-3 mb-3 link-dark text-decoration-none fs-6">
					<div class="logo rounded-circle d-flex p-1 justify-content-center align-items-center text-white">
						<span class="logo-text">@BrandNameShort</span>
					</div>
					<span class="brand-name ms-2 fs-5 fw-semibold">@BrandName</span>
				</a>
			}
			else
			{
				@BrandTemplate
			}
		</div>

		<!--Desktop and Mobile togglers-->
		<div class="navbar-toggler navbar-light" @onclick="ToggleMobileNavMenu">
			<span class="navbar-toggler-icon border rounded"></span>
		</div>
		<div class="navbar-desktop-toggler align-self-end" @onclick="ToggleDesktopNavMenu">
			<HxIcon Icon="@(CollapsedDesktop ? DesktopOpenCollapseIcon : DesktopCloseCollapseIcon)" />
		</div>

		<div class="@CssClassHelper.Combine("sidebar-inner flex-column mb-auto", @GetCollapsedMobileCssClass())">
			<!--Navigation-->
			<ul class="flex-column list-unstyled ps-0">
				@ItemsTemplate
			</ul>
		</div>

		<!--Login display-->
		<div class="login-display d-flex ">
			@if (LoginDisplayTemplate == null)
			{
				<span><HxIcon Icon="@LoginIcon" /> Login</span>
			}
			else
			{
				@LoginDisplayTemplate
			}
		</div>
	</div>
</div>
