@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine(CollapsedDesktop ? "collapse": null, "sidebar d-flex flex-column") ">
	<div class="@CssClassHelper.Combine(CollapsedDesktop ? "desktop-collapsed" : null,"nav-menu p-3 d-flex flex-column flex-grow-1")">
		<div class="navbar-light mb-4 mt-2 d-flex">

			<a class="ms-2 me-auto text-primary fs-5 text-decoration-none d-inline-flex">
				<div class="logo rounded-circle bg-primary text-white p-1 fs-6 d-flex aling-items-center justify-content-center">
					<span class="logo-text">@BrandNameShort</span>
					<span class="navbar-desktop-logo-toggler d-flex align-items-center" role="button" @onclick="ToggleDesktopNavMenu"><HxIcon CssClass="w-100" Icon="BootstrapIcon.ChevronBarRight" /></span>
				</div>
				<span class="app-name ms-2">@BrandName</span>
			</a>

			<button class="navbar-toggler" @onclick="ToggleMobileNavMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button class="navbar-desktop-toggler px-2 py-0 me-2" @onclick="ToggleDesktopNavMenu">
				<HxIcon Icon="BootstrapIcon.ChevronBarLeft" />
			</button>
		</div>

		<div class="sidebar-inner d-flex flex-column flex-grow-1 mb-auto">
			<div class="@GetCollapsedMobileCssClass()">
				<ul class="nav nav-pills flex-column">
					@if (ChildContent != null)
					{
						<CascadingValue IsFixed="false" Name="IsDesktopCollapsed" Value="@CollapsedDesktop" TValue="bool">
							@ChildContent
						</CascadingValue>
					}
				</ul>
			</div>
		</div>

		@if (LoginDisplayContent != null)
		{
			@LoginDisplayContent
		}
	</div>
</div>