@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("hx-input-file-drop-zone", EnabledEffective ? null : "disabled", CssClass)">
	<HxInputFileCore @ref="_hxInputFileCoreComponentReference"
					 UploadUrl="@UploadUrl"
					 OnChange="HandleOnChange"
					 OnProgress="InvokeOnProgressAsync"
					 OnFileUploaded="InvokeOnFileUploadedAsync"
					 OnUploadCompleted="InvokeOnUploadCompletedAsync"
					 Multiple="Multiple"
					 Enabled="EnabledEffective"
					 MaxFileSize="MaxFileSize"
					 Accept="@Accept"/>
	@if (_fileCount == 0)
	{
		<div class="hint text-center">
			@if (NoFilesTemplate is not null)
			{
				@NoFilesTemplate
			}
			else
			{
				@Localizer[Multiple ? "NoFilesMultiple" : "NoFiles"]
			}
		</div>
	}
	else
	{
		<div>@GetFilesPickedText()</div>
	}
</div>