@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("hx-input-file-drop-zone", this.CssClass)">
	<HxInputFileCore @ref="hxInputFileCoreComponentReference"
					 UploadUrl="@this.UploadUrl"
					 OnChange="HandleOnChange"
					 OnProgress="this.OnProgress"
					 OnFileUploaded="this.OnFileUploaded"
					 OnUploadCompleted="this.OnUploadCompleted"
					 Multiple="this.Multiple"
					 Accept="@this.Accept"/>
	@if (fileCount == 0)
	{
		<div class="hint text-truncate">
			@if (NoFilesTemplate is not null)
			{
				@NoFilesTemplate
			}
			else
			{
				<text>@Localizer[this.Multiple ? "NoFilesMultiple" : "NoFiles"]</text>
			}
		</div>
	}
	else
	{
		<div>@GetFilesPickedText()</div>
	}
</div>