@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="hx-messenger">
    <HxToastContainer Position="Position" CssClass="@CssClass">
        @foreach (MessengerMessage message in _messages)
        {
            // @key is used to pair messages to HxToasts when some message disappers.
            <HxToast @key="@message.Key"
                 Color="@((message as BootstrapMessengerMessage)?.Color)"
                 CssClass="@message.CssClass"
                 HeaderIcon="@message.Icon"
                 HeaderText="@message.Title"
                 HeaderTemplate="@message.HeaderTemplate"
                 ContentText="@message.Text"
                 ContentTemplate="@message.ContentTemplate"
                 AutohideDelay="@message.AutohideDelay"
                 OnToastHidden="() => HandleToastHidden(message)" />
        }
    </HxToastContainer>
</div>